<a href="https://colab.research.google.com/github/raphasariedine/utfpr/blob/main/pos_aula04_(exercicios).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

O que é o Pandas?

Pandas é uma biblioteca de software poderosa e versátil, escrita em Python, especialmente projetada para a manipulação e análise de dados. Ela oferece estruturas de dados eficientes e ferramentas flexíveis para lidar com grandes conjuntos de dados, tornando-a uma ferramenta essencial para cientistas de dados, analistas e qualquer pessoa que trabalhe com dados em Python.

Principal uso é a manipulação de dados tabulares (datasets)

Com o pandas é possível carregar, manipular, explorar e até visualizar conjuntos de dados.

É uma das bibliotecas mais utilizadas em ciência de dados.

Estrutura de dados principais:

• Series

• DataFrame

Por que usar Pandas?

Estruturas de dados intuitivas: O Pandas introduz duas estruturas de dados principais:

Series: Uma matriz unidimensional rotulada, similar a uma coluna em uma planilha.

DataFrame: Uma estrutura tabular bidimensional, semelhante a uma planilha inteira, com linhas e colunas rotuladas.

Facilidade de uso: A sintaxe do Pandas é inspirada no Excel, tornando-o familiar para muitos usuários.

Performance: O Pandas é otimizado para realizar operações em grandes conjuntos de dados de forma eficiente.

Flexibilidade: Permite lidar com diversos tipos de dados, desde numéricos até textuais e datas.

Integração com outras bibliotecas: Trabalha bem com outras bibliotecas populares de Python, como NumPy, Matplotlib e Scikit-learn.


Para que serve o Pandas?

Leitura e escrita de dados: Carregar dados de diversos formatos (CSV, Excel, bases de dados SQL, etc.) e salvar os resultados em diferentes formatos.

Limpeza e preparação de dados: Manipular dados faltantes, remover duplicados, transformar tipos de dados, etc.

Análise exploratória de dados: Calcular estatísticas descritivas, criar visualizações, identificar padrões e correlações.

Modelagem de dados: Preparar dados para serem utilizados em modelos de machine learning.


Um exemplo simples

Python

    import pandas as pd

    `#Criando um DataFrame

    data = {'Nome': ['Alice', 'Bob', 'Charlie'],

          'Idade': [25, 30, 22],

          'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte']}

    df = pd.DataFrame(data)

    `# Visualizando o DataFrame

    print(df)


Em resumo, o Pandas é uma ferramenta indispensável para qualquer pessoa que trabalhe com dados em Python. Ele simplifica tarefas complexas e permite que você extraia insights valiosos de seus dados de forma eficiente.

Gostaria de aprender mais sobre alguma funcionalidade específica do Pandas?

Leitura e escrita de arquivos

Manipulação de DataFrames

Análise exploratória de dados

Visualização de dados

In [ ]:
# Importando a biblioteca

# import pandas #

# Ou, você pode importar e dar uma apelido para ela

import pandas as pd

# Usando a opção acima, você pode referenciar a biblioteca por

# meio de ‘pd’, ao invés de ‘pandas’

Módulo ou Biblioteca "Pandas"

Estrutura de Dados:

SÉRIES



É uma estrutura de dados unidimensional.

Pode ser entendida como uma coluna de dados.

In [ ]:
import pandas as pd

# Criando um objeto Series
s = pd.Series([1, 8, 2, 3, 7, 4, 9, 5])
print(s)

# Acessando elemento por meio do índice
print(s[0])

# Seleção condicional de elementos
print(s[s > 3]) # 8, 7, 4, 9, 5

# Operações matemáticas
s = s + 10 # 11, 18, 12, 13, 17, 14, 29, 15
print(s)

# Média
print(s.mean()) # 14.875

# Soma
print(s.sum()) # 119

# Máximo
print(s.max()) # 19

# Mínimo
print(s.min()) # 11

# Desvio padrão
print(s.std()) # 3.87

0    1
1    8
2    2
3    3
4    7
5    4
6    9
7    5
dtype: int64
1
1    8
4    7
5    4
6    9
7    5
dtype: int64
0    11
1    18
2    12
3    13
4    17
5    14
6    19
7    15
dtype: int64
14.875
119
19
11

Módulo ou Biblioteca "Pandas"

Estrutura de Dados:

DATAFRAME

Uma das estrutura de dados mais utilizadas no pandas.

Um DataFrame é um objeto de duas dimensões com as seguintes características:

• Pode armazenar dados de diferentes tipos em suas colunas.

• É similar a uma planilha de dados ou uma tabela de banco de dados.

• Os dados podem ser acessados através de rótulos ao invés de índices.

• Fornece vários métodos para manipular e transformar os dados.

• Pode ser criado por meio da leitura de vários tipos de arquivos

(CSV, Planilha Excel, JSON, XML, Texto, etc)

Criando um DataFrame de um dicionário:

In [ ]:
import pandas as pd

nomes = ['José', 'Maria', 'João', 'Ana', 'Pedro']
idades = [25, 30, 35, 40, 45]
cidade = ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba', 'Porto Alegre']

dados = {'Nome': nomes, 'Idade': idades, 'Cidade': cidade}

df = pd.DataFrame(data=dados) # Criando um DataFrame a partir de um dicionário

print(df)

    Nome  Idade          Cidade
0   José     25       São Paulo
1  Maria     30  Rio de Janeiro
2   João     35  Belo Horizonte
3    Ana     40        Curitiba
4  Pedro     45    Porto Alegre

Criando um DataFrame de uma lista de tuplas:

In [ ]:
import pandas as pd

nomes = ['José', 'Maria', 'João', 'Ana', 'Pedro']
idades = [25, 30, 35, 40, 45]
cidade = ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba', 'Porto Alegre']

dados = list(zip(nomes,idades,cidade))

print(dados)


df = pd.DataFrame(data=dados) # Criando um DataFrame a partir de uma lista de tuplas

print(df)

[('José', 25, 'São Paulo'), ('Maria', 30, 'Rio de Janeiro'), ('João', 35, 'Belo Horizonte'), ('Ana', 40, 'Curitiba'), ('Pedro', 45, 'Porto Alegre')]
       0   1               2
0   José  25       São Paulo
1  Maria  30  Rio de Janeiro
2   João  35  Belo Horizonte
3    Ana  40        Curitiba
4  Pedro  45    Porto Alegre

Definindo rótulos para linhas e colunas:

In [ ]:
import pandas as pd

nomes = ['José', 'Maria', 'João', 'Ana', 'Pedro']
idades = [25, 30, 35, 40, 45]
cidade = ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba', 'Porto Alegre']

dados = {'Nome': nomes, 'Idade': idades, 'Cidade': cidade}

df = pd.DataFrame(data=dados) # Criando um DataFrame a partir de um dicionário

df.columns = ['NOMES', 'IDADES', 'CIDADES'] # Definindo rótulos para colunas
df.index = ['A', 'B', 'C', 'D', 'E'] # Definindo rótulos para linhas

print(df)

   NOMES  IDADES         CIDADES
A   José      25       São Paulo
B  Maria      30  Rio de Janeiro
C   João      35  Belo Horizonte
D    Ana      40        Curitiba
E  Pedro      45    Porto Alegre

Atributos de DataFrame:

In [ ]:
import pandas as pd

nomes = ['José', 'Maria', 'João', 'Ana', 'Pedro']
idades = [25, 30, 35, 40, 45]
cidade = ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba', 'Porto Alegre']

dados = {'Nome': nomes, 'Idade': idades, 'Cidade': cidade}

df = pd.DataFrame(data=dados) # Criando um DataFrame a partir de um dicionário

df.columns = ['NOMES', 'IDADES', 'CIDADES'] # Definindo rótulos para colunas
df.index = ['A', 'B', 'C', 'D', 'E'] # Definindo rótulos para linhas

print(df)

print(list(df.columns), "\nRetorna uma lista com os nomes das colunas do DataFrame") # Retorna uma lista com os nomes das colunas do DataFrame
print(list(df.index), "\nRetorna uma lista com os nomes dos índices do DataFrame") # Retorna uma lista com os nomes dos índices do DataFrame
print(df.ndim, "\nRetorna o número de dimensões do DataFrame") # Retorna o número de dimensões do DataFrame
print(df.shape, "\nRetorna uma tupla com o número de linhas e colunas do DataFrame") # Retorna uma tupla com o número de linhas e colunas do DataFrame
print(df.size, "\nRetorna o número total de elementos do DataFrame") # Retorna o número total de elementos do DataFrame
print(df.empty, "\nRetorna True se o DataFrame estiver vazio, False caso contrário") # Retorna True se o DataFrame estiver vazio, False caso contrário

print(df.columns, "\nRetorna uma lista com os nomes das colunas do DataFrame") # Retorna uma lista com os nomes das colunas do DataFrame
print(df.index, "\nRetorna uma lista com os nomes dos índices do DataFrame") # Retorna uma lista com os nomes dos índices do DataFrame
print(df.dtypes, "\nRetorna uma Series com os tipos de dados de cada coluna") # Retorna uma Series com os tipos de dados de cada coluna
print(df.head(), "\nRetorna as primeiras 5 linhas do DataFrame") # Retorna as primeiras 5 linhas do DataFrame
print(df.tail(), "\nRetorna as últimas 5 linhas do DataFrame") # Retorna as últimas 5 linhas do DataFrame
print(df.info(), "\nRetorna informações sobre o DataFrame") # Retorna informações sobre o DataFrame
print(df.describe(), "\nRetorna estatísticas descritivas do DataFrame") # Retorna estatísticas descritivas do DataFrame

   NOMES  IDADES         CIDADES
A   José      25       São Paulo
B  Maria      30  Rio de Janeiro
C   João      35  Belo Horizonte
D    Ana      40        Curitiba
E  Pedro      45    Porto Alegre
['NOMES', 'IDADES', 'CIDADES']
Retorna uma lista com os nomes das colunas do DataFrame
['A', 'B', 'C', 'D', 'E']
Retorna uma lista com os nomes dos índices do DataFrame
2
Retorna o número de dimensões do DataFrame
(5, 3)
Retorna uma tupla com o número de linhas e colunas do DataFrame
15
Retorna o número total de elementos do DataFrame
False
Retorna True se o DataFrame estiver vazio, False caso contrário
Index(['NOMES', 'IDADES', 'CIDADES'], dtype='object')
Retorna uma lista com os nomes das colunas do DataFrame
Index(['A', 'B', 'C', 'D', 'E'], dtype='object')
Retorna uma lista com os nomes dos índices do DataFrame
NOMES      object
IDADES      int64
CIDADES    object
dtype: object
Retorna uma Series com os tipos de dados de cada coluna
   NOMES  IDADES         CIDADES
A   José      25       São Paulo
B  Maria      30  Rio de Janeiro
C   João      35  Belo Horizonte
D    Ana      40        Curitiba
E  Pedro      45    Porto Alegre
Retorna as primeiras 5 linhas do DataFrame
   NOMES  IDADES         CIDADES
A   José      25       São Paulo
B  Maria      30  Rio de Janeiro
C   João      35  Belo Horizonte
D    Ana      40        Curitiba
E  Pedro      45    Porto Alegre
Retorna as últimas 5 linhas do DataFrame
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, A to E
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   NOMES    5 non-null      object
 1   IDADES   5 non-null      int64
 2   CIDADES  5 non-null      object
dtypes: int64(1), object(2)
memory usage: 160.0+ bytes
None
Retorna informações sobre o DataFrame
          IDADES
count   5.000000
mean   35.000000
std     7.905694
min    25.000000
25%    30.000000
50%    35.000000
75%    40.000000
max    45.000000
Retorna estatísticas descritivas do DataFrame

Acessando DADOS:

Diferentemente das matrizes, a forma de acessar um dado de um DataFrame por meio de índices é a seguinte:

Formato

DataFrame[<``<``coluna>>][<``<``linha>>]

Exemplo usando as chaves do dicionário para acessar a coluna desejada:

In [ ]:
import pandas as pd

nomes = ['José', 'Maria', 'João', 'Ana', 'Pedro']
idades = [25, 30, 35, 40, 45]
cidade = ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba', 'Porto Alegre']

dados = {'Nome': nomes, 'Idade': idades, 'Cidade': cidade}

df = pd.DataFrame(data=dados) # Criando um DataFrame a partir de um dicionário

df.columns = ['NOMES', 'IDADES', 'CIDADES'] # Definindo rótulos para colunas
df.index = ['A', 'B', 'C', 'D', 'E'] # Definindo rótulos para linhas

print(df['CIDADES'][3], df['CIDADES'][0], df['CIDADES'][2], df['CIDADES'][1], df['CIDADES'][4]) # Acessando um dado de um DataFrame
print(df['IDADES'][2], df['IDADES'][1], df['IDADES'][4], df['IDADES'][3], df['IDADES'][0]) # Acessando um dado de um DataFrame

Curitiba São Paulo Belo Horizonte Rio de Janeiro Porto Alegre
35 30 45 40 25
NOMES                João
IDADES                 35
CIDADES    Belo Horizonte
Name: C, dtype: object
NOMES                João
IDADES                 35
CIDADES    Belo Horizonte
Name: C, dtype: object

<ipython-input-29-e46626e9ba9a>:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df['CIDADES'][3], df['CIDADES'][0], df['CIDADES'][2], df['CIDADES'][1], df['CIDADES'][4]) # Acessando um dado de um DataFrame
<ipython-input-29-e46626e9ba9a>:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df['IDADES'][2], df['IDADES'][1], df['IDADES'][4], df['IDADES'][3], df['IDADES'][0]) # Acessando um dado de um DataFrame

Exemplo usando índices para acessar o dado desejado:

In [ ]:
import pandas as pd

nomes = ['José', 'Maria', 'João', 'Ana', 'Pedro']
idades = [25, 30, 35, 40, 45]
cidade = ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba', 'Porto Alegre']

dados = list(zip(nomes,idades,cidade))

df = pd.DataFrame(data=dados) # Criando um DataFrame a partir de um dicionário

print(df) # Não foram definidos rótulos, então os índices são numéricos

print(df[1][3], df[1][0], df[1][2], df[1][1], df[1][4]) # Acessando um dado de um DataFrame
print(df[2][2], df[2][1], df[2][4], df[2][3], df[2][0]) # Acessando um dado de um DataFrame

       0   1               2
0   José  25       São Paulo
1  Maria  30  Rio de Janeiro
2   João  35  Belo Horizonte
3    Ana  40        Curitiba
4  Pedro  45    Porto Alegre
40 25 35 30 45
Belo Horizonte Rio de Janeiro Porto Alegre Curitiba São Paulo

DATAFRAME:

Indexadores

Os DataFrames possuem indexadores para seleção de dados.

Esses indexadores fornecem uma forma fácil e rápida de selecionar um conjunto de dados de um DataFrame.

Alguns deles são:

• T: usado para transpor linhas e colunas.

• at: acessa um único elemento utilizando rótulos.

• iat: acessa um único elemento utilizando índices.

• loc: seleção de elementos utilizando rótulos.

• iloc: seleção de elementos utilizando índices.

**INDEXADOR T**

O indexador T retorna um DataFrame onde as linhas do Dataframe original são transformadas em colunas:

O indexador T no Pandas, quando aplicado a um DataFrame, realiza a operação de transposição. Essa operação é análoga ao conceito de matriz transposta na álgebra linear.

O que significa transposição?

Em matrizes: A transposta de uma matriz é obtida trocando-se as linhas pelas colunas e vice-versa. Ou seja, a primeira linha se torna a primeira coluna, a segunda linha se torna a segunda coluna, e assim por diante.

No Pandas: O indexador T faz exatamente isso com um DataFrame. Ele troca os índices (que rotulam as linhas) pelos nomes das colunas (que rotulam as colunas) e vice-versa.

In [ ]:
import pandas as pd

nomes = ['José', 'Maria', 'João', 'Ana', 'Pedro']
idades = [25, 30, 35, 40, 45]
cidade = ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba', 'Porto Alegre']

dados = {'Nome': nomes, 'Idade': idades, 'Cidade': cidade}

df = pd.DataFrame(data=dados) # Criando um DataFrame a partir de um dicionário

df.columns = ['NOMES', 'IDADES', 'CIDADES'] # Definindo rótulos para colunas
df.index = ['A', 'B', 'C', 'D', 'E'] # Definindo rótulos para linhas

print(df)

print(df.T) # Retorna um DataFrame onde as linhas do Dataframe original são transformadas em colunas

   NOMES  IDADES         CIDADES
A   José      25       São Paulo
B  Maria      30  Rio de Janeiro
C   João      35  Belo Horizonte
D    Ana      40        Curitiba
E  Pedro      45    Porto Alegre
                 A               B               C         D             E
NOMES         José           Maria            João       Ana         Pedro
IDADES          25              30              35        40            45
CIDADES  São Paulo  Rio de Janeiro  Belo Horizonte  Curitiba  Porto Alegre

**INDEXADOR AT**

O indexador at opera apenas com os rótulos e não com os índices dos elementos.

Caso os índices de um elemento sejam fornecidos, ao invés dos seus rótulos, um erro é gerado.

In [ ]:
import pandas as pd

nomes = ['José', 'Maria', 'João', 'Ana', 'Pedro']
idades = [25, 30, 35, 40, 45]
cidade = ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba', 'Porto Alegre']

dados = {'Nome': nomes, 'Idade': idades, 'Cidade': cidade}

df = pd.DataFrame(data=dados) # Criando um DataFrame a partir de um dicionário

df.columns = ['NOMES', 'IDADES', 'CIDADES'] # Definindo rótulos para colunas
df.index = ['A', 'B', 'C', 'D', 'E'] # Definindo rótulos para linhas

print(df)

print(df.at['B', 'NOMES']) # Maria

   NOMES  IDADES         CIDADES
A   José      25       São Paulo
B  Maria      30  Rio de Janeiro
C   João      35  Belo Horizonte
D    Ana      40        Curitiba
E  Pedro      45    Porto Alegre
Maria

**INDEXADOR IAT**

O indexador iat acessa um único elemento do DataFrame utilizando os índices da linha e da coluna.

O indexador iat opera apenas com os índices e não com os rótulos dos elementos.

In [ ]:
import pandas as pd

nomes = ['José', 'Maria', 'João', 'Ana', 'Pedro']
idades = [25, 30, 35, 40, 45]
cidade = ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba', 'Porto Alegre']

dados = {'Nome': nomes, 'Idade': idades, 'Cidade': cidade}

df = pd.DataFrame(data=dados) # Criando um DataFrame a partir de um dicionário

df.columns = ['NOMES', 'IDADES', 'CIDADES'] # Definindo rótulos para colunas
df.index = ['A', 'B', 'C', 'D', 'E'] # Definindo rótulos para linhas

print(df)

print(df.iat[2,1]) # 35

   NOMES  IDADES         CIDADES
A   José      25       São Paulo
B  Maria      30  Rio de Janeiro
C   João      35  Belo Horizonte
D    Ana      40        Curitiba
E  Pedro      45    Porto Alegre
35

**INDEXADOR LOC**

O indexador loc seleciona um conjunto de linhas e de colunas através dos rótulos ou por uma lista de valores booleanos.

In [ ]:
import pandas as pd

nomes = ['José', 'Maria', 'João', 'Ana', 'Pedro']
idades = [25, 30, 35, 40, 45]
cidade = ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba', 'Porto Alegre']

dados = {'Nome': nomes, 'Idade': idades, 'Cidade': cidade}

df = pd.DataFrame(data=dados) # Criando um DataFrame a partir de um dicionário

df.columns = ['NOMES', 'IDADES', 'CIDADES'] # Definindo rótulos para colunas
df.index = ['A', 'B', 'C', 'D', 'E'] # Definindo rótulos para linhas

print(df)

print(df.loc[['B']])
print(df.loc[['B', 'D']])
print(df.loc[['B', 'D'], 'NOMES'])
print(df.loc[['B', 'D'], ['NOMES', 'CIDADES']])

   NOMES  IDADES         CIDADES
A   José      25       São Paulo
B  Maria      30  Rio de Janeiro
C   João      35  Belo Horizonte
D    Ana      40        Curitiba
E  Pedro      45    Porto Alegre
   NOMES  IDADES         CIDADES
B  Maria      30  Rio de Janeiro
   NOMES  IDADES         CIDADES
B  Maria      30  Rio de Janeiro
D    Ana      40        Curitiba
B    Maria
D      Ana
Name: NOMES, dtype: object
   NOMES         CIDADES
B  Maria  Rio de Janeiro
D    Ana        Curitiba

**INDEXADOR ILOC**

O indexador iloc seleciona um conjunto de linhas e de colunas baseado unicamente em índices.

In [ ]:
import pandas as pd

nomes = ['José', 'Maria', 'João', 'Ana', 'Pedro']
idades = [25, 30, 35, 40, 45]
cidade = ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba', 'Porto Alegre']

dados = {'Nome': nomes, 'Idade': idades, 'Cidade': cidade}

df = pd.DataFrame(data=dados) # Criando um DataFrame a partir de um dicionário

df.columns = ['NOMES', 'IDADES', 'CIDADES'] # Definindo rótulos para colunas
df.index = ['A', 'B', 'C', 'D', 'E'] # Definindo rótulos para linhas

print(df)

print(df.iloc[1])
print(df.iloc[-1])
print(df.iloc[0,2])
print(df.iloc[1:3, 0])
print(df.iloc[1:3, 0:2])

   NOMES  IDADES         CIDADES
A   José      25       São Paulo
B  Maria      30  Rio de Janeiro
C   João      35  Belo Horizonte
D    Ana      40        Curitiba
E  Pedro      45    Porto Alegre
NOMES               Maria
IDADES                 30
CIDADES    Rio de Janeiro
Name: B, dtype: object
NOMES             Pedro
IDADES               45
CIDADES    Porto Alegre
Name: E, dtype: object
São Paulo
B    Maria
C     João
Name: NOMES, dtype: object
   NOMES  IDADES
B  Maria      30
C   João      35

DATAFRAME

**Manipulando dados**

Adicionar coluna:

Para adicionar uma nova coluna ao DataFrame basta atribuir ao rótulo da coluna desejada um valor padrão ou uma lista com os valores desejados.

In [ ]:
import pandas as pd

nomes = ['José', 'Maria', 'João', 'Ana', 'Pedro']
idades = [25, 30, 35, 40, 45]
cidade = ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba', 'Porto Alegre']

dados = {'Nome': nomes, 'Idade': idades, 'Cidade': cidade}

df = pd.DataFrame(data=dados) # Criando um DataFrame a partir de um dicionário

df.columns = ['NOMES', 'IDADES', 'CIDADES'] # Definindo rótulos para colunas
df.index = ['A', 'B', 'C', 'D', 'E'] # Definindo rótulos para linhas

print(df)

df['Sexo'] = 'F'

print(df)

df['Sexo'] = ['M', 'F', 'M', 'F', 'M'] # Adicionando uma nova coluna ao DataFrame

print(df)

   NOMES  IDADES         CIDADES
A   José      25       São Paulo
B  Maria      30  Rio de Janeiro
C   João      35  Belo Horizonte
D    Ana      40        Curitiba
E  Pedro      45    Porto Alegre
   NOMES  IDADES         CIDADES Sexo
A   José      25       São Paulo    F
B  Maria      30  Rio de Janeiro    F
C   João      35  Belo Horizonte    F
D    Ana      40        Curitiba    F
E  Pedro      45    Porto Alegre    F
   NOMES  IDADES         CIDADES Sexo
A   José      25       São Paulo    M
B  Maria      30  Rio de Janeiro    F
C   João      35  Belo Horizonte    M
D    Ana      40        Curitiba    F
E  Pedro      45    Porto Alegre    M

Adicionar linha:

Para adicionar uma ou mais novas linhas ao DataFrame, é possível utilizar o método concat.

• O método concat concatena um DataFrame ao final do outro.

• Para isso, o método recebe como parâmetro dois ou mais DataFrames e produz um novo concatenado.

• Caso os rótulos das linhas não sejam compatíveis, o parâmetro ignore_index deve ser atribuído como True para que os rótulos personalizados das linhas sejam ignorados.

Concatenando dois DataFrames:

In [ ]:
import pandas as pd

nomes = ['José', 'Maria', 'João', 'Ana', 'Pedro']
idades = [25, 30, 35, 40, 45]
cidade = ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba', 'Porto Alegre']

dados = {'Nome': nomes, 'Idade': idades, 'Cidade': cidade}

df = pd.DataFrame(data=dados) # Criando um DataFrame a partir de um dicionário

df.columns = ['NOMES', 'IDADES', 'CIDADES'] # Definindo rótulos para colunas
df.index = ['A', 'B', 'C', 'D', 'E'] # Definindo rótulos para linhas
df['Sexo'] = ['M', 'F', 'M', 'F', 'M'] # Adicionando uma nova coluna ao DataFrame

print(df)

novo_dados = [{
    'NOMES': 'Paulo',
    'IDADES': 28,
    'CIDADES': 'Florianópolis',
    'Sexo': 'M'},
     {'NOMES': 'Carla',
    'IDADES': 32,
    'CIDADES': 'Salvador',
    'Sexo': 'F'}
              ]

df2 = pd.DataFrame(data = novo_dados)

df = pd.concat([df, df2], ignore_index=True) # Note que o novo DataFrame ignorou os índices antigos (A, B, C) e atribuiu novos índices numéricos.

print(df)

   NOMES  IDADES         CIDADES Sexo
A   José      25       São Paulo    M
B  Maria      30  Rio de Janeiro    F
C   João      35  Belo Horizonte    M
D    Ana      40        Curitiba    F
E  Pedro      45    Porto Alegre    M
   NOMES  IDADES         CIDADES Sexo
0   José      25       São Paulo    M
1  Maria      30  Rio de Janeiro    F
2   João      35  Belo Horizonte    M
3    Ana      40        Curitiba    F
4  Pedro      45    Porto Alegre    M
5  Paulo      28   Florianópolis    M
6  Carla      32        Salvador    F

Editar linhas:

Os indexadores loc e iloc também podem ser utilizados para modificar uma linha já existente.

• Para isso, basta atribuir os novos valores desejados ou um valor padrão.

• O indexador loc também pode ser utilizado para adicionar uma nova linha no final do DataFrame de forma similar.

Usando loc para editar ou adicionar novas linhas:

In [ ]:
import pandas as pd

nomes = ['José', 'Maria', 'João', 'Ana', 'Pedro']
idades = [25, 30, 35, 40, 45]
cidade = ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba', 'Porto Alegre']

dados = {'Nome': nomes, 'Idade': idades, 'Cidade': cidade}

df = pd.DataFrame(data=dados) # Criando um DataFrame a partir de um dicionário

df.columns = ['NOMES', 'IDADES', 'CIDADES'] # Definindo rótulos para colunas
df.index = ['A', 'B', 'C', 'D', 'E'] # Definindo rótulos para linhas
df['Sexo'] = ['M', 'F', 'M', 'F', 'M'] # Adicionando uma nova coluna ao DataFrame

print(df)

df.loc['A', 'NOMES'] = 'Paulo' # Alterando nome específico
df.loc['A', 'IDADES'] = 28 # Alterando idade específica
df.loc['A', 'CIDADES'] = 'Florianópolis' # Alterando cidade específica
df.loc['A', 'Sexo'] = 'M' # Alterando sexo específico

df.loc['B'] = ['Julieta', 1, 'Goiania', 'F'] # Alterando uma linha no DataFrame

df.loc['F'] = ['Carla', 32, 'Salvador', 'F'] # Adicionando uma nova linha ao DataFrame, pois 'F' não existe
# Com loc, se o rótulo não for encontrado, uma nova linha é adicionada ao DataFrame.



print(df)

   NOMES  IDADES         CIDADES Sexo
A   José      25       São Paulo    M
B  Maria      30  Rio de Janeiro    F
C   João      35  Belo Horizonte    M
D    Ana      40        Curitiba    F
E  Pedro      45    Porto Alegre    M
     NOMES  IDADES         CIDADES Sexo
A    Paulo      28   Florianópolis    M
B  Julieta       1         Goiania    F
C     João      35  Belo Horizonte    M
D      Ana      40        Curitiba    F
E    Pedro      45    Porto Alegre    M
F    Carla      32        Salvador    F

Usando iloc para editar linhas:

In [ ]:
import pandas as pd

nomes = ['José', 'Maria', 'João', 'Ana', 'Pedro']
idades = [25, 30, 35, 40, 45]
cidade = ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba', 'Porto Alegre']

dados = {'Nome': nomes, 'Idade': idades, 'Cidade': cidade}

df = pd.DataFrame(data=dados) # Criando um DataFrame a partir de um dicionário

df.columns = ['NOMES', 'IDADES', 'CIDADES'] # Definindo rótulos para colunas
df.index = ['A', 'B', 'C', 'D', 'E'] # Definindo rótulos para linhas
df['Sexo'] = ['M', 'F', 'M', 'F', 'M'] # Adicionando uma nova coluna ao DataFrame

print(df)

df.iloc[0, 0] = 'Paulo' # Alterando nome específico
df.iloc[0, 1] = 28 # Alterando idade específica
df.iloc[0, 2] = 'Florianópolis' # Alterando cidade específica
df.iloc[0, 3] = 'M' # Alterando sexo específico

print(df)

df.iloc[1] = ['Julieta', 1, 'Goiania', 'F'] # Alterando uma linha no DataFrame

print(df)

# df.iloc[5] = ['Carla', 32, 'Salvador', 'F'] # Adicionando uma nova linha ao DataFrame
# iloc gera um erro se o índice não existir!

   NOMES  IDADES         CIDADES Sexo
A   José      25       São Paulo    M
B  Maria      30  Rio de Janeiro    F
C   João      35  Belo Horizonte    M
D    Ana      40        Curitiba    F
E  Pedro      45    Porto Alegre    M
   NOMES  IDADES         CIDADES Sexo
A  Paulo      28   Florianópolis    M
B  Maria      30  Rio de Janeiro    F
C   João      35  Belo Horizonte    M
D    Ana      40        Curitiba    F
E  Pedro      45    Porto Alegre    M
     NOMES  IDADES         CIDADES Sexo
A    Paulo      28   Florianópolis    M
B  Julieta       1         Goiania    F
C     João      35  Belo Horizonte    M
D      Ana      40        Curitiba    F
E    Pedro      45    Porto Alegre    M

De forma semelhante, os indexadores at e iat também podem ser utilizados para modificar uma célula do DataFrame.

• Para isso, basta atribuir um novo valor para a célula desejada.

Usando at e iat para editar linhas do DataFrame:

In [ ]:
import pandas as pd

nomes = ['José', 'Maria', 'João', 'Ana', 'Pedro']
idades = [25, 30, 35, 40, 45]
cidade = ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba', 'Porto Alegre']

dados = {'Nome': nomes, 'Idade': idades, 'Cidade': cidade}

df = pd.DataFrame(data=dados) # Criando um DataFrame a partir de um dicionário

df.columns = ['NOMES', 'IDADES', 'CIDADES'] # Definindo rótulos para colunas
df.index = ['A', 'B', 'C', 'D', 'E'] # Definindo rótulos para linhas
df['Sexo'] = ['M', 'F', 'M', 'F', 'M'] # Adicionando uma nova coluna ao DataFrame

print(df)

df.at['A', 'NOMES'] = 'Paulo' # Alterando nome específico
df.at['A', 'IDADES'] = df.at['A', 'IDADES'] * 3 # Manipulando a idade

print(df)

df.iat[3, 2] = 'Florianópolis' # Alterando cidade específica
df.iat[4, 3] = 'M' # Alterando sexo específico
df.iat[0, 1] = df.iat[0, 1] / 5 # Manipulando a idade

print(df)

   NOMES  IDADES         CIDADES Sexo
A   José      25       São Paulo    M
B  Maria      30  Rio de Janeiro    F
C   João      35  Belo Horizonte    M
D    Ana      40        Curitiba    F
E  Pedro      45    Porto Alegre    M
   NOMES  IDADES         CIDADES Sexo
A  Paulo      75       São Paulo    M
B  Maria      30  Rio de Janeiro    F
C   João      35  Belo Horizonte    M
D    Ana      40        Curitiba    F
E  Pedro      45    Porto Alegre    M
   NOMES  IDADES         CIDADES Sexo
A  Paulo      15       São Paulo    M
B  Maria      30  Rio de Janeiro    F
C   João      35  Belo Horizonte    M
D    Ana      40   Florianópolis    F
E  Pedro      45    Porto Alegre    M

Removendo linhas e colunas:

É possível remover linhas ou colunas de um DataFrame utilizando o método drop.

• Alguns dos parâmetros do método drop são:

• index: recebe um rótulo ou uma lista de rótulos das linhas que serão removidas.

• columns: recebe um rótulo ou uma lista de rótulos das colunas que serão removidas.

• inplace: determina se as mudanças devem ser aplicadas diretamente no DataFrame ou em uma cópia (valor padrão é False).

Removendo linhas e colunas com método drop:

In [ ]:
import pandas as pd

nomes = ['José', 'Maria', 'João', 'Ana', 'Pedro']
idades = [25, 30, 35, 40, 45]
cidade = ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba', 'Porto Alegre']

dados = {'Nome': nomes, 'Idade': idades, 'Cidade': cidade}

df = pd.DataFrame(data=dados, index = ['A', 'B', 'C', 'D', 'E']) # Criando um DataFrame a partir de um dicionário

df['Sexo'] = ['M', 'F', 'M', 'F', 'M'] # Adicionando uma nova coluna ao DataFrame


df.loc['F'] = ['Carla', 32, 'Salvador', 'F'] # Adicionando uma nova linha ao DataFrame, pois 'F' não existe
df.loc['G'] = ['Carla', 32, 'Salvador', 'F'] # Adicionando uma nova linha ao DataFrame, pois 'G' não existe
df.loc['H'] = ['Carla', 32, 'Salvador', 'F'] # Adicionando uma nova linha ao DataFrame, pois 'H' não existe

print(df)

df.drop(index = ['A', 'D'], columns = ['Sexo'], inplace = True) # Removendo linhas e colunas do DataFrame

print(df)

df.drop('B', inplace = True) # Remove elemento com rótulo 'B'

print(df)

df.reset_index(drop = True, inplace = True) # Resetando os índices do DataFrame

print(df)

df.drop(0, inplace = True) # Remove elemento com índice 0

print(df)

df.drop_duplicates(inplace = True) # Removendo linhas duplicadas do DataFrame

print(df)

    Nome  Idade          Cidade Sexo
A   José     25       São Paulo    M
B  Maria     30  Rio de Janeiro    F
C   João     35  Belo Horizonte    M
D    Ana     40        Curitiba    F
E  Pedro     45    Porto Alegre    M
F  Carla     32        Salvador    F
G  Carla     32        Salvador    F
H  Carla     32        Salvador    F
    Nome  Idade          Cidade
B  Maria     30  Rio de Janeiro
C   João     35  Belo Horizonte
E  Pedro     45    Porto Alegre
F  Carla     32        Salvador
G  Carla     32        Salvador
H  Carla     32        Salvador
    Nome  Idade          Cidade
C   João     35  Belo Horizonte
E  Pedro     45    Porto Alegre
F  Carla     32        Salvador
G  Carla     32        Salvador
H  Carla     32        Salvador
    Nome  Idade          Cidade
0   João     35  Belo Horizonte
1  Pedro     45    Porto Alegre
2  Carla     32        Salvador
3  Carla     32        Salvador
4  Carla     32        Salvador
    Nome  Idade        Cidade
1  Pedro     45  Porto Alegre
2  Carla     32      Salvador
3  Carla     32      Salvador
4  Carla     32      Salvador
    Nome  Idade        Cidade
1  Pedro     45  Porto Alegre
2  Carla     32      Salvador