<a href="https://colab.research.google.com/github/raphasariedine/utfpr/blob/main/pos_aula02_(exercicios).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercício 01:

Complete o programa Python abaixo para que os itens da lista "frutas" sejam impressos no console, um item por linha.
frutas = ["Uva", "Banana", "Laranja", "Maçã", "Limão"]
'
'# Dica, use o laço "for" para imprimir os itens no console
....

In [ ]:
frutas=["Uva", "Banana", "Laranja", "Maçã", "Limão"]
for fruta in frutas:
    print(fruta)

Uva
Banana
Laranja
Maçã
Limão

Aprendendo sobre operações com listas...

Temos a definição da lista;

Temos a substituição de um elemento da lista;

Temos a adição de um elemento da lista;

Temos a remoção de um elemento da lista;

In [ ]:
# Exemplo de lista
numeros = [1, 2, 3, 4, 5]
# Acessando elementos de uma lista utilizando índices.
print(numeros[1])
# Atribuindo um novo valor a um índice específico.
numeros[2] = 10
print(numeros) # Saída: [1, 2 ,10, 4, 5]
# Adicionar um elemento ao final da lista
numeros.append(6)
print(numeros) # Saída: [1, 2 ,10, 4, 5, 6]
# Remover um elemento com base no seu conteúdo
numeros.remove(4)
print(numeros) # Saída: [1, 2 ,10, 5, 6]

2
[1, 2, 10, 4, 5]
[1, 2, 10, 4, 5, 6]
[1, 2, 10, 5, 6]

Aprendendo sobre tuplas:

As tuplas são definidas utilizando parênteses () ou até mesmo sem eles, separando os elementos por vírgulas.

In [ ]:
# Exemplo de tupla

tupla1 = (1, 2, 3, 4, 5)
tupla2 = 'a', 'b', 'c', 'd', 'e'

# Acessando elementos de uma tupla utilizando índices.

print(tupla1[1])   # Saída: 2
print(tupla1[-1])  # Saída: 5 (acesso reverso, -1 é o último, -2 o penúltimo, ...)

print(tupla2[1])   # Saída: b
print(tupla2[-1])  # Saída: e (acesso reverso, -1 é o último, -2 o penúltimo, ...)

# Principal uso de tuplas é armazenar dados que não devem ser modificados

ponto = (3, 2)    #Esse é um exemplo de tupla; Este ponto de coordenadas não deverá ser modificado ao longo do programa;

# Tuplas podem ser utilizadas para armazenar dados que não devem ser modificados, como coordenadas, informações constantes, valores de retorno de funções, entre outros.

2
5
b
e

Programando um pouco com listas:

In [ ]:
numeros = [4,3,2,6,2,10,55]

print(numeros[0]) # Saída: 4
print(numeros[-1]) # Saída: 55

item = numeros[1]
item = item*2
numeros[1] = item
numeros[2]= numeros[2]*30

print(numeros) # Saída: [4, 6, 2, 6, 2, 10, 55

4
55
[4, 6, 60, 6, 2, 10, 55]

Vamos aprender a adicionar elementos, inserir elementos em determinadas posições, excluir o último elemento e extender a lista;

lista.append(X) ADICIONA UM ELEMENTO (X) AO FINAL DA LISTA

lista.insert(Y,X) ADICIONA UM ELEMENTO (X) NA POSIÇÃO INDICADA (Y)

lista.pop() EXCLUI O ÚLTIMO ELEMENTO DA LISTA

lista.extend(outra_lista) ADICIONA A LISTA (outra_lista) AO FINAL DA LISTA

In [ ]:
lista = [2, 3, 4]
print(lista) # [2, 3, 4]
lista.append(5) # [2, 3, 4, 5]
print(lista)
lista.insert(0, 1) # [1, 2, 3, 4, 5]
print(lista)
ultimo = lista.pop() # [1, 2, 3, 4]
print(ultimo) # 5
lista_nova = [8, 9, 10]
lista.extend(lista_nova)
print(lista) # [1, 2, 3, 4, 8, 9, 10]

lista.insert(0,lista_nova[0])
print(lista)


lista = [2,3,4]
lista.append(55)
print(lista)

lista.insert(0,-10)
print(lista)

ultimo = lista.pop()
ultimo = lista.pop()
print(f"O último elemento é {ultimo}")
print(lista)

lista_nova = [33,34,35]
lista.extend(lista_nova)
print(lista)

[2, 3, 4]
[2, 3, 4, 5]
[1, 2, 3, 4, 5]
5
[1, 2, 3, 4, 8, 9, 10]
[8, 1, 2, 3, 4, 8, 9, 10]
[2, 3, 4, 55]
[-10, 2, 3, 4, 55]
O último elemento é 4
[-10, 2, 3]
[-10, 2, 3, 33, 34, 35]

Concatenação de listas:

In [ ]:
# Concatenação de Listas
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]
concatenada = lista1 + lista2
print(concatenada) # [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

Replicação de listas:

NÃO É UMA MULTIPLICAÇÃO ... É UMA REPLICAÇÃO!!

In [ ]:
# Replicação de Listas
lista = [1, 2, 3]
replicada = lista * 3
print(replicada) # [1, 2, 3, 1, 2, 3, 1, 2, 3]

[1, 2, 3, 1, 2, 3, 1, 2, 3]

Operação de pertencimento:

A operação se dá da seguinte forma:

if x in lista:

  print(...)

else:

  ...

In [ ]:
# Item pertence a lista?
lista = [1, 2, 3]
if 2 in lista:
  print("Elemento está na lista.")
else:
  print("Elemento não está na lista.")

Elemento está na lista.

Busca e contagem de elementos:

lista.index(x) -> retorna o índice da posição de onde está o elemento "x"

lista.count(x) -> retorna quantas vezes o elemento "x" está presente na lista.

In [ ]:
# Busca por item
lista = [1, 2, 3, 1, 5, 2]
index = lista.index(2)
print("Índice da primeira ocorrência de 2:", index)
# Contagem de ocorrências de um item
count = lista.count(2)
print("Quantidade de ocorrências de 2:", count)

Índice da primeira ocorrência de 2: 1
Quantidade de ocorrências de 2: 2

Iteração = percorrer

Como ocorre?

for nome in nomes:
  
  print (nome)



ALém disso, temos como saber a posição de um elemento em específico, utilizando:

lista.index(valor_elemento)


Se existirem mais de uma posição desse elemento na lista, podemos utilizar o seguinte acréscimo na função:

lista.index(valor_elemento, lista.index(2)+1)

Também, conseguimos saber quantos elementos desse valor estão presentes nas lista, utilizando a seguinte função:

lista.count(valor_elemento)

In [ ]:
# A cada iteração do loop a variável nome recebe um valor da lista

nomes = ["João", "Maria", "Pedro"]
for nome in nomes:
  print(nome)


names = 'João', 'Maria', 'Pedro', 'Luiz', 'Edivaldo', 'Silva', 'Pereira'
for name in names:
    print(name, end=' - ')

print("\n")

lista = [1,2,3,4,2,2]
print(lista.index(2,lista.index(2)+1))
print(lista.count(2))

lista = [1, 2, 3, 4, 2, 2]
elemento_procurado = 2
posicoes = []

for i in range(len(lista)):
    if lista[i] == elemento_procurado:
        posicoes.append(i)  # Adiciona o índice diretamente

if posicoes:
    print(f"Posições do {elemento_procurado} são: {', '.join(map(str, posicoes))}")
else:
    print(f"O elemento {elemento_procurado} não foi encontrado na lista.")

João
Maria
Pedro
João - Maria - Pedro - Luiz - Edivaldo - Silva - Pereira -

4
3
Posições do 2 são: 1, 4, 5

Usando a função enumerate:

Enumerate sempre retorna pares de INDICES e OBJETOS.

In [ ]:
# A função enumerate() retorna um objeto iterável contendo pares de índices e elementos
nomes = ["João", "Maria", "Pedro"]
for indice, nome, in enumerate(nomes):
  print(indice, nome)

0 João
1 Maria
2 Pedro

Função ZIP

ZIP combina múltiplas variáveis compostas em uma única estrutura iterável.

EM RESUMO: ELa combina as posições da primeira lista com a segunda lista, OU, de tuplas com tuplas...

In [ ]:
# A função zip() combina múltiplas variáveis compostas
# (listas ou tuplas) em um única estrutura iterável
nomes = ["João", "Maria", "Pedro"]
idades = [25, 30, 35]
for nome, idade in zip(nomes, idades):

 print(nome, idade)

print(type(nomes))
print(type(idades))

nomes = "João", "Maria", "Pedro"
idades = 25, 30, 35
for nome, idade in zip(nomes, idades):
  print(nome, idade)

print(type(nomes))
print(type(idades))

nomes = "João", "Maria", "Pedro"
idades = 25, 35
for nome, idade in zip(nomes, idades):
  print(nome, idade)

print(type(nomes))
print(type(idades))

João 25
Maria 30
Pedro 35
<class 'list'>
<class 'list'>
João 25
Maria 30
Pedro 35
<class 'tuple'>
<class 'tuple'>
João 25
Maria 35
<class 'tuple'>
<class 'tuple'>

Função RANGE

range() gera uma sequencia de números.

Geralmente usada para controlar a repetição de loops.

LEMBRANDO: como começamos a contagem com 0, o último valor sempre será X-1.

A função range() não inclui o valor final por uma combinação de fatores: convenção, facilidade de uso e flexibilidade. Ao excluir o valor final, o range() se torna uma ferramenta poderosa e versátil para criar sequências de números em Python.

O range() não inclui o valor final por convenção e para facilitar o uso em diversas situações. Essa função permite criar sequências de números com grande flexibilidade, permitindo definir o valor inicial, final e o passo. Ao excluir o valor final, o range() se torna mais intuitivo e consistente com outras funcionalidades da linguagem.

In [ ]:
for i in range(5):
  print(i)

# Criando uma sequência de 5 a 10 (excluindo o 10)
for i in range(5, 10):
    print(i, end='-')  # Saída: 5, 6, 7, 8, 9
print("\n")
# Criando uma sequência de 10 a 0, contando de 2 em 2
for i in range(10, 0, -2):
    print(i, end='-')  # Saída: 10, 8, 6, 4, 2
print("\n")

0
1
2
3
4
5-6-7-8-9-

10-8-6-4-2-

O slicing (ou "fatiamento") é uma técnica em Python que permite extrair partes de sequências, como listas, tuplas, strings.

Lembrar que o início é inclusivo e o fim é exclusivo...

Quando tem "::" quer dizer que terá uma iteração em passo de 2 elementos

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9]
# Índices 1 (inclusivo) ao 5 (exclusivo)
print(lista[1:5]) # [2, 3, 4, 5]
# Do início até 5 (exclusivo, lembre-se lista[5] retorna o item 6)
print(lista[:5]) # [1, 2, 3, 4, 5]
# Do 5 (inclusivo) até o final
print(lista[5:]) # [6, 7, 8, 9]
# Iterando a cada 2 elementos
print(lista[::2]) # [1, 3, 5, 7, 9]
# Do 1 ao 7 (exclusivo), iterando a cada 2 elementos
print(lista[1:7:2]) # [2, 4, 6]

print(lista[::3]) # [1, 4, 7]

[2, 3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9]
[1, 3, 5, 7, 9]
[2, 4, 6]
[1, 4, 7]

Em SLICING, se utilizarmos números negativos, fazemos a iteração de trás para frente!

É como se fosse uma iteração REGRESSIVA!

iteração = percorrimento (percorrer)

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9]
# Retorna os três últimos elementos
print(lista[-3:]) # [7, 8, 9]
# Retorna todos os elementos, exceto, os 5 últimos
print(lista[:-5]) # [1, 2, 3, 4]
# Retorna os elementos em ordem inversa
print(lista[::-1]) # [9, 8, 7, 6, 5, 4, 3, 2, 1]

[7, 8, 9]
[1, 2, 3, 4]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

SLICING com STRINGS

STRINGS é uma cadeia de CARACTERES, portanto, podemos percorre-la.

In [ ]:
frase = "UTFPR"
print(frase[0]) # U
print(frase[:3]) # UTF
print(frase[3:]) # PR
print(frase[::-1]) # RPFTU

parte = frase[:3]
print("Parte da frase:", parte) # UTF

U
UTF
PR
RPFTU
Parte da frase: UTF

Principais funções built-in para processar Listas e Tuplas.

BULT-IN = EMBUTIDAS

In [ ]:
lista = [4, 3, 77, 2, 1]
# Tamanho da lista
print(len(lista)) # 5
# Valor máximo e mínimo da lista
print(max(lista)) # 77
print(min(lista)) # 1
# Soma dos elementos da lista
print(sum(lista)) # 87
# Elementos ordenados
print(sorted(lista)) # [1, 2, 3, 4, 77]
# Elementos em ordem reversa da lista
print(list(reversed(lista))) # [1, 2, 77, 3, 4]

5
77
1
87
[1, 2, 3, 4, 77]
[1, 2, 77, 3, 4]

**Lista - Dados heterogêneos**

In [ ]:
# A lista abaixo armazena o nome, idade, e-mail e situação do
# pessoa/usuário (ativo)
dados_pessoa = ["João", 25, "joao@utfpr.edu.br", True]
print("Nome:", dados_pessoa[0])
print("Idade:", dados_pessoa[1])
print("E-mail:", dados_pessoa[2])
print("Ativo:", dados_pessoa[3])
dados_pessoa[3] = False
print("Ativo:", dados_pessoa[3])


dados_pessoa = ["João", 25, "joao@utfpr.edu.br", True]
dados_pessoa[0] = "José da Silva"
print(dados_pessoa)
print(f"Nome do usuário: {dados_pessoa[0]}")
print(f"Idade do usuário: {dados_pessoa[1]}")
print(f"E-mail do usuário: {dados_pessoa[2]}")
print(f"Usuário ativo? {dados_pessoa[3]}")

Nome: João
Idade: 25
E-mail: joao@utfpr.edu.br
Ativo: True
Ativo: False
['José da Silva', 25, 'joao@utfpr.edu.br', True]
Nome do usuário: José da Silva
Idade do usuário: 25
E-mail do usuário: joao@utfpr.edu.br
Usuário ativo? True

**Lista - Dados heterogêneos**

A lista abaixo armazena o nome, idade, e-mail e situação do pessoa/usuário (ativo)


LISTA DE LISTA

In [ ]:
# A lista abaixo armazena o nome, idade, e-mail e situação do pessoa/usuário (ativo)

# Imagine que você carregou os dados das pessoas de um CSV (arquivo de planilha, banco de dados)

pessoas = [
 ["João", 25, "joao@utfpr.edu.br", True],
 ["Maria", 32, "maria@utfpr.edu.br", True],
 ["Pedro", 18, "pedro@utfpr.edu.br", True],
 ["Ana", 45, "ana@utfpr.edu.br", False],
]
p = pessoas[3]
print(f"Nome: {p[0]}, Idade: {p[1]}, E-mail: {p[2]}, Ativo: {p[3]}")

print("Listando apenas as pessoas inativas:")
for pessoa in pessoas:
  if pessoa[3] == False:
    print(f"Nome: {pessoa[0]}, Idade: {pessoa[1]}, E-mail: {pessoa[2]}, Ativo: {pessoa[3]}")

print("Listando apenas as pessoas ativas:")
for pessoa in pessoas:
  if pessoa[3] == True:
    print(f"Nome: {pessoa[0]}, Idade: {pessoa[1]}, E-mail: {pessoa[2]}, Ativo: {pessoa[3]}")

Nome: Ana, Idade: 45, E-mail: ana@utfpr.edu.br, Ativo: False
Listando apenas as pessoas inativas:
Nome: Ana, Idade: 45, E-mail: ana@utfpr.edu.br, Ativo: False
Listando apenas as pessoas ativas:
Nome: João, Idade: 25, E-mail: joao@utfpr.edu.br, Ativo: True
Nome: Maria, Idade: 32, E-mail: maria@utfpr.edu.br, Ativo: True
Nome: Pedro, Idade: 18, E-mail: pedro@utfpr.edu.br, Ativo: True

Programando um pouco com **TUPLAS**:

In [ ]:
numeros= 1,2,3,4,5
letras = 'a','b','c','d','e','f','g','h','i','j'

print(numeros)
print(letras)

print(numeros[0])
print(letras[1])
print(letras[-1])

(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j')
1
b
j

Concatenação de Tuplas:

In [ ]:
# Concatenação de Tuplas
tupla1 = (1, 2, 3)
tupla2 = (4, 5, 6)
concatenada = tupla1 + tupla2
print(concatenada) # [1, 2, 3, 4, 5, 6]

(1, 2, 3, 4, 5, 6)

Replicação de TUPLAS:

NÃO É MULTIPLICAÇÃO... É REPLICAÇÃO!!

In [ ]:
# Replicação de Tuplas
tupla = (4, 5, 6)
replicada = tupla * 3
print(replicada) # (4, 5, 6, 4, 5, 6, 4, 5, 6]

(4, 5, 6, 4, 5, 6, 4, 5, 6)

**Tupla - Dados heterogêneos**

In [ ]:
# A tupla abaixo armazena o nome, idade, e-mail e situação do
# pessoa/usuário (ativo)
dados_pessoa = ("João", 25, "joao@utfpr.edu.br", True)
print("Nome:", dados_pessoa[0])
print("Idade:", dados_pessoa[1])
print("E-mail:", dados_pessoa[2])
print("Ativo:", dados_pessoa[3])

Nome: João
Idade: 25
E-mail: joao@utfpr.edu.br
Ativo: True

Exercício 02:

O programa abaixo lê da entrada padrão 4 inteiros e armazena em uma lista.

Complete o programa com instruções para somar os itens da lista e depois imprimir o valor da soma no console.

numeros = []

for i in range(4):
    numero_lido = int(input())
    numeros.append(numero_lido)

soma = 0

'# Adicione abaixo instruções para somar todos os números e imprimir no console.

In [ ]:
numeros = []

for i in range(4):
  numero_lido = int(input())
  numeros.append(numero_lido)

soma = 0

# Adicione abaixo instruções para somar todos os números e imprimir no console.

for numero in numeros:
  soma = soma + numero

print("Soma =",soma)
#

10
20
30
40
100

Exercício 03:

O programa abaixo lê da entrada padrão um valor inteiro N. Depois, lê N inteiros e armazena em uma lista.

Complete o programa com instruções para imprimir no console o menor valor e maior valor da lista.

'# Definição de lista vazia

numeros = []

'# Lendo da entrada padrão o número de elementos que serão adicionados na lista (inteiro N do enunciado)

numero_de_elementos = int(input())

'# Adicionando elementos na lista

for i in range(numero_de_elementos):

    numero_lido = int(input())
    numeros.append(numero_lido)

'# Adicione instruções para imprimir o menor e maior valor da lista.

In [ ]:
# Definição de lista vazia
numeros = []
# Lendo da entrada padrão o número de elementos que serão adicionados na lista (inteiro N do enunciado)
numero_de_elementos = int(input())
# Adicionando elementos na lista
for i in range(numero_de_elementos):
    numero_lido = int(input())
    numeros.append(numero_lido)

# Adicione instruções para imprimir o menor e maior valor da lista.
print("Menor:", min(numeros))
print("Maior:", max(numeros))

4
1
2
3
4
Menor: 1
Maior: 4

In [ ]:
numeros = []
numero_de_elementos = int(input())
for i in range(numero_de_elementos):
  numero_lido = int(input())
  numeros.append(numero_lido)

# Tamanho da lista
print(len(numeros))
# Valor máximo e mínimo da lista
print("Menor:", min(numeros))
print("Maior:", max(numeros))
# Soma dos elementos da lista
print(sum(numeros))
# Elementos ordenados
print(sorted(numeros))
# Elementos em ordem reversa da lista
print(list(reversed(numeros)))

3
5
0
2
3
Menor: 0
Maior: 5
7
[0, 2, 5]
[2, 0, 5]

In [ ]:
# Definição de lista vazia
numeros = []
# Lendo da entrada padrão o número de elementos que serão adicionados na lista (inteiro N do enunciado)
numero_de_elementos = int(input())
# Adicionando elementos na lista
for i in range(numero_de_elementos):
    numero_lido = int(input())
    numeros.append(numero_lido)

# Adicione instruções para imprimir o menor e maior valor da lista.
menor = numeros[0]
maior = numeros[0]
for numero in numeros:
  if numero < menor:
    menor = numero
  if numero > maior:
    maior = numero

print("Menor:",menor)
print("Maior:",maior)
#

4
1
2
3
4
Menor: 1
Maior: 4

Exercício 04:

Complete o programa abaixo com instruções para imprimir o primeiro e último elementos da tupla.

elementos = 1, 2, 3, 4, 5

1# Adicione instruções para imprimir o primeiro e último elemento da tupla

In [ ]:
elementos = 1, 2, 3, 4, 5

# Adicione instruções para imprimir o primeiro e último elemento da tupla
print("Primeiro:", elementos[0])
print("Último:", elementos[-1])
#

Primeiro: 1
Último: 5

Exercício 05:

Complete o programa abaixo com instruções para imprimir o índice de um determinado elemento da tupla.

elementos = (11, 42, 3, 64, -15)

elemento_procurado = int(input())

1# Adicione instruções para imprimir o índice do elemento procurado

In [ ]:
elementos = (11, 42, 3, 64, -15)

elemento_procurado = int(input())

# Adicione instruções para imprimir o índice do elemento procurado
for i in range(len(elementos)):
  if elementos[i] == elemento_procurado:
    print("Índice do elemento:", i)

11
Índice do elemento: 0

Exercício 06:

O programa abaixo define uma lista de idades de pessoas de uma cidade.

Complete o programa abaixo com instruções para imprimir o número de idades menores de 18 anos e o número de idades maiores ou iguais de 18 anos.

Dica: percora a lista e teste os valores usando comandos de decisão (if-else).

idades = [11, 42, 3, 64, 9, 12, 33, 44]

1# Adicione instruções para imprimir o que se pede na questão

In [ ]:
idades = [11, 42, 3, 64, 9, 12, 33, 44]

# Adicione instruções para imprimir o que se pede na questão
menores = 0
maiores = 0
for idade in idades:
  if idade < 18:
    menores += 1
  else:
    maiores += 1

print("Maior ou igual 18:", maiores)
print("Menor de 18:", menores)

Maior ou igual 18: 4
Menor de 18: 4

Exercício 07:

Implemente um programa em Python que lê da entrada padrão 5 caracteres e armazena em uma lista.

Depois, o programa deve ler da entrada padrão um caractere que deve ser procurado na lista de caracteres lidos anteriormente.

Por fim, imprima no console quantas vezes o caractere procurado foi encontrado na lista.

Dica:

Defina um for para ler os caracteres da entrada padrão.
Depois leia o caractere a ser procurado.
Defina um segundo for para percorrer a lista de caracteres e contar o número de ocorrências.
Use print(f"Caractere '{procurado}' foi encontrado {encontrado} vezes.") para mostrar o resultado no console.
Nos exemplos abaixo, perceba que o último caractere da lista Input é o caractere procurado.

In [ ]:
caracteres = []
for i in range(5):
  caractere = input()
  caracteres.append(caractere)

procurado = input()

encontrado = 0

for caractere in caracteres:
  if caractere == procurado:
    encontrado += 1

print(f"Caractere '{procurado}' foi encontrado {encontrado} vezes.")

a
b
c
d
e
a
Caractere 'a' foi encontrado 1 vezes.

Exercício 08:

Implemente um programa em Python para ler 5 valores inteiros da entrada padrão e armazene em uma lista.

Depois, use a estrutura de dados conjunto para remover possíveis dados duplicados.

Por fim, imprima na saída padrão os elementos, sem valores duplicados.

In [ ]:
lista=[]
for i in range(5):
  valor=int(input())
  lista.append(valor)

# Lista: Uma lista é uma estrutura de dados ordenada que pode conter elementos duplicados.
# Conjunto (Set): Um conjunto é uma coleção não ordenada de elementos únicos. Isso significa que um conjunto não permite elementos duplicados.

conjunto=set(lista) # Essa linha de código em Python converte uma lista em um conjunto.

# for elemento in conjunto: Essa parte itera sobre cada elemento do conjunto.
# str(elemento): Converte cada elemento para uma string. Isso é necessário porque o método join() espera uma sequência de strings.
# ', '.join(...):
# join(): É um método de strings que concatena todos os elementos de uma sequência (neste caso, a sequência de strings gerada pela expressão anterior), usando o separador especificado entre eles.
# ', ': O separador é uma vírgula seguida de um espaço, que será inserido entre cada elemento da string resultante.

string_formatada = ', '.join(str(elemento) for elemento in conjunto)

# Adicionando as chaves
resultado = f"{{{string_formatada}}}" # Ao usar três chaves, você está, na verdade, incluindo uma única chave literal dentro de uma f-string.


print(resultado)  # Saída: {1, 2, 3, 7}

1
1
1
0
0
{0, 1}

Exercício 09:

Implemente um programa em Python para imprimir os dados do dicionário abaixo.

aluno = {
    'matricula' : 123,
    'nome' : 'José Silva',
    'curso' : 'Especialização IA no Agro',
    'disciplina' : "Fundamentos de Programação para Aplicações na Agricultura"
}

Lembre-se de formatar a saída conforme exemplo abaixo.

aluno = {
    'matricula' : 123,
    'nome' : 'José Silva',
    'curso' : 'Especialização IA no Agro',
    'disciplina' : "Fundamentos de Programação para Aplicações na Agricultura"
}

Resultado:

Dados do estudante:
Nome: José Silva
Matrícula: 123
Curso: Especialização IA no Agro
Disciplina: Fundamentos de Programação para Aplicações na Agricultura


aluno = {
    'matricula' : 123
    'nome' : 'José Silva',
    'curso' : 'Especialização IA no Agro',
    'disciplina' : "Fundamentos de Programação para Aplicações na Agricultura"
}

1# adicione seu código abaixo.

In [ ]:
aluno = {
    'matricula' : 123,
    'nome' : 'José Silva',
    'curso' : 'Especialização IA no Agro',
    'disciplina' : "Fundamentos de Programação para Aplicações na Agricultura"
}

# adicione seu código abaixo.
print("Dados do estudante:")
print("Nome:", aluno['nome'])
print("Matrícula:", aluno['matricula'])
print("Curso:", aluno['curso'])
print("Disciplina:", aluno['disciplina'])
#

Dados do estudante:
Nome: José Silva
Matrícula: 123
Curso: Especialização IA no Agro
Disciplina: Fundamentos de Programação para Aplicações na Agricultura

Dicionários são uma estrutura de dados chave-valor. Úteis para armazenar e recuperar informações (valor) por meio da chave.

Quando eu abro e fecho uma chave o Python interpreta isso como um dicionário.
Um dicionário tem uma chave, seguida de ":" e por fim o valor seguido de uma ",".


Um item dentro de um dicionário é composto por uma chave e um valor.

In [ ]:
# Declaração de dicionário
aluno = {
 "nome": "Joao",
 "idade": 20,
 "email": "joao@utfpr.edu.br"
}
nome = aluno["nome"]
print(f"Nome: {nome}")

Nome: Joao

Percorrendo um dicionário.

Acessando Chaves e Valores em Dicionários Python: .values(), .keys() e .items()

.values(): Retorna uma view (visão) dos valores do dicionário. Essa view é dinâmica, ou seja, se você modificar o dicionário, a view também será atualizada. É útil quando você precisa iterar apenas sobre os valores.

.keys(): Retorna uma view das chaves do dicionário. Assim como .values(), é dinâmica. Útil quando você precisa iterar apenas sobre as chaves.

.items(): Retorna uma view das tuplas (chave, valor) de cada item do dicionário. Também é dinâmica. É útil quando você precisa iterar tanto sobre as chaves quanto sobre os valores simultaneamente.

In [ ]:
aluno = {"nome": "Joao", "idade": 20, "email": "joao@utfpr.edu.br"}
print(aluno)

# Iterar sobre chaves
for chave in aluno:
 print(chave)
# Iterar sobre valores
for valor in aluno.values():
 print(valor)
# Imprime chave e valor
for chave, valor in aluno.items():
 print(f"{chave} : {valor}")

{'nome': 'Joao', 'idade': 20, 'email': 'joao@utfpr.edu.br'}
nome
idade
email
Joao
20
joao@utfpr.edu.br
nome : Joao
idade : 20
email : joao@utfpr.edu.br

Alterando dados no dicionário:

In [ ]:
aluno = {"nome": "Joao", "idade": 20, "email": "joao@utfpr.edu.br"}
print(aluno)
aluno["nome"] = "Maria"
print(aluno)

for chave in aluno:    # como percorrer as chaves de um dicinário
  print(chave)

for valor in aluno.values():  # como percorrer os valores de um dicionário
  print(valor)

for chave, valor in aluno.items():  # como percorrer os itens de um dicionário
  print(f"{chave} : {valor}")

{'nome': 'Joao', 'idade': 20, 'email': 'joao@utfpr.edu.br'}
{'nome': 'Maria', 'idade': 20, 'email': 'joao@utfpr.edu.br'}
nome
idade
email
Maria
20
joao@utfpr.edu.br
nome : Maria
idade : 20
email : joao@utfpr.edu.br

Manipulando dicionários:

In [ ]:
aluno = {"nome": "Joao", "idade": 20, "email": "joao@utfpr.edu.br"}

# Verificando a existência de uma chave
if 'nome' in aluno:
  print('A chave "nome" está presente no dicionário.')


# Adiciona uma nova chave
aluno["genero"] = 'M'
aluno["cpf"] = 123456789

print(aluno)

# Remove e retorna o valor associado à chave 'cidade’
genero = aluno.pop('genero')

print(aluno)
print(genero)

# Remove o último par adicionado
ultimo_item = aluno.popitem()    #nesse caso vai remover o CPF

print(aluno)
print(ultimo_item)

# Adiciona uma nova chave
aluno["cpf"] = 123456789

# Remove um item específico
del aluno['cpf']

print(aluno)

A chave "nome" está presente no dicionário.
{'nome': 'Joao', 'idade': 20, 'email': 'joao@utfpr.edu.br', 'genero': 'M', 'cpf': 123456789}
{'nome': 'Joao', 'idade': 20, 'email': 'joao@utfpr.edu.br', 'cpf': 123456789}
M
{'nome': 'Joao', 'idade': 20, 'email': 'joao@utfpr.edu.br'}
('cpf', 123456789)
{'nome': 'Joao', 'idade': 20, 'email': 'joao@utfpr.edu.br'}

'# Lista:

lista_de_nomes = ["Alice", "Bob", "Charlie"]

'# Tupla:

coordenadas = (3, 5)

'# Dicionário:

pessoa = {"nome": "Alice", "idade": 30, "cidade": "São Paulo"}

In [ ]:
# Lista
lista_de_nomes = ["Alice", "Bob", "Charlie"]

# Tupla
coordenadas = (3, 5)

# Dicionário
pessoa = {"nome": "Alice", "idade": 30, "cidade": "São Paulo"}

![image.png]()

Mostrando como funcionam as funções do dicionário:

In [ ]:
aluno = {'nome':"Joao", 'idade':20, 'email':"joao@email.com.br"}
print(aluno)

if 'nome' in aluno:
  print("Tem a chave", 'nome', aluno['nome'],"no dicionário")
else:
  print("Não tem nome no dicionário")

aluno['genero'] = 'M'
aluno['cpf']= 123456789
print(aluno)

if 'genero' in aluno:
  print("Tem", aluno['genero'],"no dicionário")
else:
  print("Não tem genero no dicionário")

aluno.pop('genero')

print(aluno)

aluno.popitem()
print(aluno)

del aluno['nome']
print(aluno)

{'nome': 'Joao', 'idade': 20, 'email': 'joao@email.com.br'}
Tem a chave nome Joao no dicionário
{'nome': 'Joao', 'idade': 20, 'email': 'joao@email.com.br', 'genero': 'M', 'cpf': 123456789}
Tem M no dicionário
{'nome': 'Joao', 'idade': 20, 'email': 'joao@email.com.br', 'cpf': 123456789}
{'nome': 'Joao', 'idade': 20, 'email': 'joao@email.com.br'}
{'idade': 20, 'email': 'joao@email.com.br'}

1. Usando o método pop()
O método pop() remove um item específico do dicionário e retorna o valor associado à chave removida. Se a chave não for encontrada, você pode fornecer um valor padrão a ser retornado.

In [ ]:
meu_dicionario = {'nome': 'João', 'idade': 30, 'cidade': 'São Paulo'}

valor_removido = meu_dicionario.pop('idade')
print(valor_removido)  # Imprime: 30
print(meu_dicionario)  # {'nome': 'João', 'cidade': 'São Paulo'}

30
{'nome': 'João', 'cidade': 'São Paulo'}

2. Usando a palavra-chave del
A palavra-chave del remove completamente um item do dicionário. Se a chave não existir, será gerado um erro KeyError.

In [ ]:
meu_dicionario = {'nome': 'João', 'idade': 30, 'cidade': 'São Paulo'}

del meu_dicionario['cidade']
print(meu_dicionario)  # {'nome': 'João', 'idade': 30}

{'nome': 'João', 'idade': 30}

Escolhendo o Método Adequado

pop(): É útil quando você precisa tanto remover a chave quanto obter o valor associado a ela. Além disso, permite fornecer um valor padrão caso a chave não exista.

del: É mais simples quando você apenas precisa remover a chave e não se importa com o valor.

In [ ]:
meu_dicionario = {'nome': 'João', 'idade': 30, 'cidade': 'São Paulo', 'profissao': 'Programador'}

# Remover a chave 'idade' e armazenar o valor em uma variável
idade_removida = meu_dicionario.pop('idade')
print(f"A idade removida era: {idade_removida}")

# Remover a chave 'profissao' sem armazenar o valor
del meu_dicionario['profissao']

print(meu_dicionario)  # {'nome': 'João', 'cidade': 'São Paulo'}

A idade removida era: 30
{'nome': 'João', 'cidade': 'São Paulo'}

**Cuidado com del**: Se você tentar remover uma chave que não existe, será gerado um erro. É recomendado verificar se a chave existe antes de usar del.

**Impossibilidade de modificar chaves**: As chaves em um dicionário são imutáveis. Você não pode modificar uma chave existente, apenas removê-la e adicionar uma nova com um valor diferente.

Exercício 10:

Implemente um programa em Python para ler da entrada padrão um dia da semana.

Depois, o programa deve consultar o dicionário abaixo e imprimir a temperatura desse dia.

Caso o usuário informe um dia que não existe no dicionário, imprima a mensagem: "Erro: informe dia no formato seg, ter, qua, qui, sex, sab, dom".

temperaturas = {
    'seg' : 32.5,
    'ter' : 25,
    'qua' : 26.5,
    'qui' : 22,
    'sex': 18,
    'sab': 15,
    'dom': 17
}

Lembre-se de formatar a saída conforme exemplo abaixo.

Saída:

seg: 32.5

ter: 25

Erro: informe dia no formato seg, ter, qua, qui, sex, sab, dom

dom: 17

In [ ]:
temperaturas = {
    'seg' : 32.5,
    'ter' : 25,
    'qua' : 26.5,
    'qui' : 22,
    'sex': 18,
    'sab': 15,
    'dom': 17
}

# adicione seu código abaixo.

dia = input()

if dia in temperaturas:
  print(f"{dia}:",temperaturas[dia])
else:
  print("Erro: informe dia no formato seg, ter, qua, qui, sex, sab, dom")
#

dom
dom: 17

Dicionários sâo estruturas de dados aninhadas.

Você pode colocar chave-valor ou o valor pode ser um outro conjunto de chaves-valores.

Segue o exemplo:

In [ ]:
#Declaração de dicionário aluno_1 e aluno_2

aluno_1 = {"nome":"João", "idade":20, "email":"joao@utfpr.edu.br"}
aluno_2 = {"nome":"Teresa", "idade":24, "email":"teresa@utfpr.edu.br"}

# Declaração do dicionário alunos

alunos = {}

# Dicionário do aluno é adicionado ao dicionário alunos (matrícula como chave)

matricula = 1
alunos[matricula] = aluno_1

matricula = 2
alunos[matricula] = aluno_2

print(alunos)

# Percorrendo o novo dicionário aninhado

for matricula, aluno in alunos.items():
  print(f"Matrícula: {matricula}")
  print(f"Nome: {aluno['nome']}")
  print(f"Idade: {aluno['idade']}")
  print(f"Email: {aluno['email']}")
  print()

{1: {'nome': 'João', 'idade': 20, 'email': 'joao@utfpr.edu.br'}, 2: {'nome': 'Teresa', 'idade': 24, 'email': 'teresa@utfpr.edu.br'}}
Matrícula: 1
Nome: João
Idade: 20
Email: joao@utfpr.edu.br

Matrícula: 2
Nome: Teresa
Idade: 24
Email: teresa@utfpr.edu.br

Modificando valores em dicionários aninhados:

In [ ]:
alunos[1]["nome"] = "Arnaldo"

print(alunos[1])

for matricula, aluno in alunos.items():
  print(f"Matrícula: {matricula}")
  print(f"Nome: {aluno['nome']}")
  print(f"Idade: {aluno['idade']}")
  print(f"Email: {aluno['email']}")
  print()

{'nome': 'Arnaldo', 'idade': 20, 'email': 'joao@utfpr.edu.br'}
Matrícula: 1
Nome: Arnaldo
Idade: 20
Email: joao@utfpr.edu.br

Matrícula: 2
Nome: Teresa
Idade: 24
Email: teresa@utfpr.edu.br

## Dicionários Aninhados: Uma Explicação Detalhada

**Dicionários aninhados** são estruturas de dados em Python onde um dicionário contém outros dicionários como valores. Isso permite criar hierarquias de dados complexas e organizadas, tornando-os uma ferramenta poderosa para representar informações que possuem múltiplos níveis de relacionamento.

**Imagine um dicionário que representa um livro de receitas.** Cada receita pode ter vários ingredientes, cada ingrediente pode ter uma quantidade e uma unidade de medida. Para representar essa estrutura, você poderia aninhar dicionários da seguinte forma:

```python
livro_de_receitas = {
    "Bolo de Chocolate": {
        "ingredientes": {
            "farinha": {"quantidade": 200, "unidade": "gramas"},
            "açúcar": {"quantidade": 150, "unidade": "gramas"},
            "cacau": {"quantidade": 50, "unidade": "gramas"}
        }
    },
    "Macarrão à Bolonhesa": {
        # ... outros ingredientes
    }
}
```

**Neste exemplo:**

* `livro_de_receitas` é o dicionário principal.
* Cada receita (e.g., "Bolo de Chocolate") é uma chave neste dicionário principal.
* O valor associado a cada receita é outro dicionário que contém os ingredientes.
* Os ingredientes são as chaves do dicionário interno, e seus valores são dicionários que especificam a quantidade e a unidade de medida.

**Por que usar dicionários aninhados?**

* **Organização:** Permitem organizar dados complexos de forma hierárquica e intuitiva.
* **Flexibilidade:** Podem representar estruturas de dados arbitrariamente complexas.
* **Eficiência:** Em muitos casos, são mais eficientes do que listas de listas para representar dados multidimensionais.

**Acesso aos dados:**

Para acessar um valor específico em um dicionário aninhado, você utiliza múltiplas chaves, separadas por colchetes:

```python
quantidade_de_farinha = livro_de_receitas["Bolo de Chocolate"]["ingredientes"]["farinha"]["quantidade"]
print(quantidade_de_farinha)  # Saída: 200
```

**Aplicações comuns:**

* **Representação de dados JSON:** JSON (JavaScript Object Notation) é um formato de troca de dados popular que se baseia em objetos e arrays, que são equivalentes a dicionários e listas em Python.
* **Configurações de programas:** Armazenar configurações complexas, como as configurações de um jogo ou aplicativo.
* **Análise de dados:** Organizar dados hierárquicos, como dados de pesquisas ou resultados de experimentos.
* **E muito mais!**

**Em resumo,** dicionários aninhados são uma ferramenta poderosa e versátil em Python. Ao entender como eles funcionam e quando utilizá-los, você poderá criar programas mais organizados, eficientes e expressivos.

In [ ]:
livro_de_receitas = {
    "Bolo de Chocolate": {
        "ingredientes": {
            "farinha": {"quantidade": 200, "unidade": "gramas"},
            "açúcar": {"quantidade": 150, "unidade": "gramas"},
            "cacau": {"quantidade": 50, "unidade": "gramas"}
        }
    },
    "Macarrão à Bolonhesa": {
        "ingredientes": {
            "farinha": {"quantidade": 200, "unidade": "gramas"},
            "açúcar": {"quantidade": 150, "unidade": "gramas"},
            "cacau": {"quantidade": 50, "unidade": "gramas"}
        }
    }
}

print(livro_de_receitas)

for receita, ingredientes in livro_de_receitas.items():
  print(f"Receita: {receita}")
  print("Ingredientes:")
  for ingrediente, detalhes in ingredientes["ingredientes"].items():
    print(f"  {ingrediente}: {detalhes['quantidade']} {detalhes['unidade']}")
  print()

{'Bolo de Chocolate': {'ingredientes': {'farinha': {'quantidade': 200, 'unidade': 'gramas'}, 'açúcar': {'quantidade': 150, 'unidade': 'gramas'}, 'cacau': {'quantidade': 50, 'unidade': 'gramas'}}}, 'Macarrão à Bolonhesa': {'ingredientes': {'farinha': {'quantidade': 200, 'unidade': 'gramas'}, 'açúcar': {'quantidade': 150, 'unidade': 'gramas'}, 'cacau': {'quantidade': 50, 'unidade': 'gramas'}}}}
Receita: Bolo de Chocolate
Ingredientes:
  farinha: 200 gramas
  açúcar: 150 gramas
  cacau: 50 gramas

Receita: Macarrão à Bolonhesa
Ingredientes:
  farinha: 200 gramas
  açúcar: 150 gramas
  cacau: 50 gramas

## Um Exemplo Prático de IA com Dicionários Aninhados em Python: Um Chatbot Simples

**Entendendo o Problema:**

Vamos criar um chatbot simples que possa responder a perguntas básicas sobre um produto fictício, como um smartphone. Para isso, utilizaremos um dicionário aninhado para armazenar as informações sobre o produto e as possíveis perguntas e respostas.

**Estrutura do Dicionário:**

```python
produto = {
    "nome": "Smartphone X",
    "características": {
        "tela": "6.5 polegadas AMOLED",
        "processador": "Snapdragon 8 Gen 2",
        "câmera": "108MP principal",
        "bateria": "5000mAh"
    },
    "perguntas_frequentes": {
        "qual_e_o_tamanho_da_tela": "O tamanho da tela é de 6.5 polegadas.",
        "qual_e_o_processador": "O processador é um Snapdragon 8 Gen 2.",
        # ... outras perguntas e respostas
    }
}
```

**O Código do Chatbot:**

```python
def chatbot(pergunta):
    """
    Função que simula um chatbot respondendo a perguntas sobre um produto.

    Args:
        pergunta (str): A pergunta do usuário.

    Returns:
        str: A resposta do chatbot.
    """

    resposta = "Não entendi sua pergunta."
    for chave, valor in produto["perguntas_frequentes"].items():
        if chave in pergunta.lower():
            resposta = valor
            break
    return resposta

# Exemplo de uso:
while True:
    pergunta = input("Você: ")
    if pergunta.lower() == "sair":
        break
    resposta = chatbot(pergunta)
    print("Chatbot:", resposta)
```

**Explicação:**

1. **Dicionário Aninhado:** O dicionário `produto` armazena informações sobre o produto, incluindo um dicionário `perguntas_frequentes` que mapeia perguntas a suas respectivas respostas.
2. **Função `chatbot`:**
   * Recebe a pergunta do usuário como entrada.
   * Itera sobre as chaves (perguntas) do dicionário `perguntas_frequentes`.
   * Se a chave (pergunta) estiver presente na pergunta do usuário (em letras minúsculas para facilitar a comparação), a função retorna a resposta correspondente.
3. **Loop Principal:** Permite que o usuário faça várias perguntas até digitar "sair".

**Como o Chatbot Funciona:**

O chatbot compara a pergunta do usuário com as chaves do dicionário `perguntas_frequentes`. Se encontrar uma correspondência, retorna a resposta armazenada no valor associado àquela chave. Essa é uma abordagem simples, mas demonstra como os dicionários aninhados podem ser usados para criar um sistema de perguntas e respostas básico.

**Expansões e Melhorias:**

* **Reconhecimento de Entidades:** Utilizar técnicas de processamento de linguagem natural para identificar palavras-chave e entender o contexto da pergunta.
* **Gerenciamento de Diálogos:** Manter um histórico do diálogo para fornecer respostas mais personalizadas e relevantes.
* **Aprendizado de Máquina:** Utilizar algoritmos de aprendizado de máquina para treinar o chatbot a aprender com novas perguntas e respostas.
* **Integração com APIs:** Acessar informações externas, como bases de dados ou serviços web, para fornecer respostas mais completas.

**Este é apenas um exemplo básico.** Dicionários aninhados podem ser usados para criar sistemas de IA mais complexos, como agentes virtuais, sistemas de recomendação e muito mais. A chave está em como você organiza e estrutura seus dados dentro desses dicionários.

Exercício 11:

Complete o programa em Python abaixo para imprimir a quantidade total de frutas do dicionário.

'# Dicionário
Entrada:

frutas = {"Maçã": 10, "Banana": 15, "Laranja": 12, "Uva": 32}

Resultado:

Total de frutas: 69

In [ ]:
produto = {
    "nome": "Smartphone X",
    "características": {
        "tela": "6.5 polegadas AMOLED",
        "processador": "Snapdragon 8 Gen 2",
        "câmera": "108MP principal",
        "bateria": "5000mAh"
    },
    "perguntas_frequentes": {
        "qual_e_o_tamanho_da_tela": "O tamanho da tela é de 6.5 polegadas.",
        "qual_e_o_processador": "O processador é um Snapdragon 8 Gen 2.",
        # ... outras perguntas e respostas
    }
}

# **O Código do Chatbot:**

    #Função que simula um chatbot respondendo a perguntas sobre um produto.
    #Args:
    #    pergunta (str): A pergunta do usuário.
    #Returns:
    #    str: A resposta do chatbot.

def chatbot(pergunta):
    resposta = "Não entendi sua pergunta."
    for chave, valor in produto["perguntas_frequentes"].items():
        if chave in pergunta.lower():
            resposta = valor
            break
    return resposta

# Exemplo de uso:
while True:
    pergunta = input("Você: ")
    if pergunta.lower() == "sair":
        break
    resposta = chatbot(pergunta)
    print("Chatbot:", resposta)

Você: qual_e_o_tamanho_da_tela
Chatbot: O tamanho da tela é de 6.5 polegadas.
Você: qual_e_o_processador
Chatbot: O processador é um Snapdragon 8 Gen 2.
Você: tela
Chatbot: Não entendi sua pergunta.
Você: sair

In [ ]:
# Dicionário
frutas = {"Maçã": 10, "Banana": 15, "Laranja": 12, "Uva": 32}

total_frutas = 0

# Adicione aqui seu código para calcular o total de frutas
for quantidade in frutas.values():
  total_frutas += quantidade

# Imprimir o total
print("Total de frutas:", total_frutas)

Total de frutas: 69

Exercício 12:

Complete o programa em Python abaixo para imprimir a frase:

"A capital do paísX é cidadeY."

para cada par de país e capital do dicionário capitais.

Entrada:

'# Dicionário

capitais = {"Brasil": "Brasília", "França": "Paris", "Japão": "Tóquio"}

Saída:

A capital do Brasil é Brasília.

A capital do França é Paris.

A capital do Japão é Tóquio.


'# Dicionário

capitais = {"Brasil": "Brasília", "França": "Paris", "Japão": "Tóquio"}

'# Adicione aqui seu código para iterar sobre o dicionário

In [ ]:
# Dicionário
capitais = {"Brasil": "Brasília", "França": "Paris", "Japão": "Tóquio"}

# Adicione aqui seu código para iterar sobre o dicionário

for pais, capital in capitais.items():
  print(f"A capital do {pais} é {capital}.")
#

A capital do Brasil é Brasília.
A capital do França é Paris.
A capital do Japão é Tóquio.

Os conjuntos são uma estrutura de dados que permitem armazenar elementos únicos (sem repetição)

São úteis quando a ordem não importa, mas a exclusiviade é fundamental.

In [ ]:
# Declaração de conjunto

frutas = {"maçã", "banana", "laranja", "uva"}

print(frutas)

{'uva', 'maçã', 'laranja', 'banana'}

## Conjuntos vs. Listas em Python: Qual a diferença?

Em Python, tanto conjuntos (sets) quanto listas são estruturas de dados utilizadas para armazenar coleções de elementos. No entanto, possuem características e aplicações distintas.

### Listas
* **Ordenadas:** Os elementos em uma lista mantêm a ordem em que foram adicionados.
* **Mutáveis:** Você pode adicionar, remover ou modificar elementos de uma lista após sua criação.
* **Permitem duplicados:** Uma lista pode conter elementos duplicados.
* **Índices:** Cada elemento em uma lista tem um índice numérico, começando em 0, que pode ser usado para acessar elementos individualmente.

**Exemplo:**

```python
minha_lista = [1, 2, 3, 2, "olá"]  # Lista com números e uma string
print(minha_lista[0])  # Imprime 1
```

### Conjuntos
* **Não ordenados:** A ordem dos elementos em um conjunto não é garantida.
* **Mutáveis:** Você pode adicionar ou remover elementos de um conjunto, mas não pode modificar elementos existentes.
* **Não permitem duplicados:** Um conjunto só pode conter elementos únicos.
* **Não possuem índices:** Como os conjuntos não são ordenados, não é possível acessar elementos por um índice numérico.

**Exemplo:**

```python
meu_conjunto = {1, 2, 3, 2, "olá"}  # Note que o 2 só aparece uma vez
print(meu_conjunto)  # Imprime {1, 2, 3, 'olá'}
```

### Quando usar listas e conjuntos?

* **Listas:**
  * Quando a ordem dos elementos é importante.
  * Quando você precisa acessar elementos por índice.
  * Quando você precisa de uma estrutura que permita duplicados.
* **Conjuntos:**
  * Quando a ordem dos elementos não importa.
  * Quando você precisa garantir que todos os elementos sejam únicos.
  * Para realizar operações matemáticas como união, interseção e diferença entre conjuntos.

### Operações comuns

| Operação | Lista | Conjunto |
|---|---|---|
| Adicionar elemento | `lista.append(item)` | `conjunto.add(item)` |
| Remover elemento | `lista.remove(item)` | `conjunto.remove(item)` |
| Verificar se um elemento está presente | `item in lista` | `item in conjunto` |
| União de dois conjuntos | Não aplicável | `conjunto1.union(conjunto2)` |
| Interseção de dois conjuntos | Não aplicável | `conjunto1.intersection(conjunto2)` |
| Diferença entre dois conjuntos | Não aplicável | `conjunto1.difference(conjunto2)` |

**Em resumo:**

* **Listas** são como caixas organizadas com rótulos numerados, onde você pode colocar qualquer coisa e repetir itens.
* **Conjuntos** são como sacos de compras onde você só coloca itens únicos.

**Qual escolher?** A escolha entre lista e conjunto depende da sua necessidade específica e das operações que você precisa realizar.

**Exemplo prático:**

Imagine que você quer armazenar os números que foram sorteados em uma loteria. Um conjunto seria ideal, pois você só se importa com os números únicos sorteados e a ordem não é relevante.

```python
numeros_sorteados = {10, 25, 3, 42}
```

UNIAO

INTERSEÇÃO

E

DIFERENÇA

In [ ]:
# Declaração de conjunto

conjunto_1 = {1, 2, 3, 4, 5}
conjunto_2 = {4, 5, 6, 7, 8}

# União de conjuntos

uniao = conjunto_1.union(conjunto_2)
print("Uniao:", uniao)


# Interseção de conjuntos

intersecao = conjunto_1.intersection(conjunto_2)
print("Intersecao:", intersecao)

# Diferença entre conjuntos

diferenca = conjunto_1.difference(conjunto_2)
print("Diferenca:", diferenca)

Uniao: {1, 2, 3, 4, 5, 6, 7, 8}
Intersecao: {4, 5}
Diferenca: {1, 2, 3}

Quais são as aplicações práticas de conjuntos??

1. Remoção de duplicatas em uma lista de itens;
2. Verificação de elementos em comum entre duas listas;
3. Filtro de dados para obter apenas elementos únicos;

In [ ]:
lista = [1, 2, 5, 6, 7, 3, 2, 6, 7, 3, 9, 29, 3941, 23, 29]

print(lista, len(lista))

print("removendo os numeros duplicados:")

# Cria conjunto com base na lista



conjunto = set(lista)

print(conjunto)

# Adiciona um elemento
conjunto.add(919)
print(conjunto)

conjunto.add(9)
print(conjunto)

# Remove um elemento
conjunto.remove(919)
print(conjunto)

# Cria lista com base no conjunto

lista_sem_duplicatas = list(conjunto)

print(lista_sem_duplicatas, len(lista_sem_duplicatas))
#

[1, 2, 5, 6, 7, 3, 2, 6, 7, 3, 9, 29, 3941, 23, 29] 15
removendo os numeros duplicados:
{1, 2, 3, 5, 6, 7, 3941, 9, 23, 29}
{1, 2, 3, 5, 6, 7, 3941, 9, 919, 23, 29}
{1, 2, 3, 5, 6, 7, 3941, 9, 919, 23, 29}
{1, 2, 3, 5, 6, 7, 3941, 9, 23, 29}
[1, 2, 3, 5, 6, 7, 3941, 9, 23, 29] 10

conjuntos - nao aceita duplicados

listas - aceita duplicados

tuplas - aceita duplicados

dicionario - nao aceita chaves duplicadas

## Um Exemplo Avançado de IA em Python Usando Conjuntos: Recomendação de Filmes

**O Problema:**
Criar um sistema de recomendação de filmes personalizado, onde as sugestões são baseadas no histórico de filmes assistidos pelo usuário.

**Solução:**
Utilizaremos conjuntos para representar os gêneros de filmes que o usuário gosta e os gêneros dos filmes em nossa base de dados. A interseção entre esses conjuntos nos dará uma boa indicação de quais filmes o usuário provavelmente gostará.

**Código:**

```python
import random

# Base de dados simples de filmes (simulando uma base de dados maior)
filmes = {
    "Filme A": {"gêneros": {"ação", "aventura", "ficção_cientifica"}},
    "Filme B": {"gêneros": {"comédia", "romance"}},
    "Filme C": {"gêneros": {"drama", "histórico"}},
    "Filme D": {"gêneros": {"ação", "aventura", "fantasia"}},
    # ... outros filmes
}

# Gêneros preferidos do usuário (obtidos de um sistema de recomendação mais complexo)
generos_usuario = {"ação", "aventura"}

def recomendar_filmes(generos_usuario, filmes):
    """Recomenda filmes com base nos gêneros preferidos do usuário.

    Args:
        generos_usuario (set): Conjunto dos gêneros preferidos do usuário.
        filmes (dict): Dicionário com informações sobre os filmes.

    Returns:
        list: Lista de filmes recomendados.
    """

    recomendacoes = []
    for filme, dados in filmes.items():
        if generos_usuario.intersection(dados["gêneros"]):
            recomendacoes.append(filme)
    return recomendacoes

# Obter as recomendações
recomendados = recomendar_filmes(generos_usuario, filmes)
print("Filmes recomendados:", recomendados)
```

**Explicação:**

1. **Base de dados de filmes:** Cada filme é representado por um dicionário, com um conjunto de gêneros associados.
2. **Gêneros do usuário:** Um conjunto armazena os gêneros que o usuário gosta.
3. **Função `recomendar_filmes`:**
    * Itera sobre todos os filmes na base de dados.
    * Calcula a interseção entre os gêneros do usuário e os gêneros do filme.
    * Se a interseção não for vazia, o filme é adicionado à lista de recomendações.
4. **Recomendações:** A função retorna uma lista com os filmes recomendados.

**Por que usar conjuntos?**

* **Eficiência:** As operações em conjuntos são muito eficientes, especialmente para verificar se um elemento está presente ou encontrar a interseção entre dois conjuntos.
* **Clareza:** A representação de gêneros como conjuntos torna o código mais conciso e fácil de entender.
* **Flexibilidade:** Podemos facilmente adicionar novos gêneros, filmes ou usuários ao sistema.

**Melhorias e Extensões:**

* **Ponderação de gêneros:** Atribuir pesos diferentes aos gêneros para refletir as preferências do usuário.
* **Filtragem colaborativa:** Recomendar filmes com base nas preferências de outros usuários com gostos semelhantes.
* **Aprendizado de máquina:** Utilizar algoritmos de aprendizado de máquina para construir modelos mais sofisticados de recomendação.

**Este é um exemplo simplificado.** Em um sistema de recomendação real, você teria uma base de dados muito maior de filmes, utilizaria algoritmos mais complexos para calcular as similaridades entre usuários e filmes, e consideraria outros fatores como a nota que o usuário deu para filmes anteriores.

**Conjuntos são uma ferramenta poderosa em Python para lidar com dados não ordenados e sem duplicações.** Ao entender como utilizá-los, você pode construir sistemas de recomendação mais eficientes e precisos.

In [ ]:
import random

# Base de dados simples de filmes (simulando uma base de dados maior)
filmes = {
    "Filme A": {"gêneros": {"ação", "aventura", "ficção_cientifica"}},
    "Filme B": {"gêneros": {"comédia", "romance"}},
    "Filme C": {"gêneros": {"drama", "histórico"}},
    "Filme D": {"gêneros": {"ação", "aventura", "fantasia"}},
    "Filme E": {"gêneros": {"ação", "aventura", "fantasia"}},
    "Filme F": {"gêneros": {"ação", "aventura", "fantasia"}},
    "Filme G": {"gêneros": {"ação", "aventura", "fantasia"}},
    # ... outros filmes
}

# Gêneros preferidos do usuário (obtidos de um sistema de recomendação mais complexo)
generos_usuario = {"ação", "aventura"}

def recomendar_filmes(generos_usuario, filmes):
    #"""Recomenda filmes com base nos gêneros preferidos do usuário.
    #Args:
    #    generos_usuario (set): Conjunto dos gêneros preferidos do usuário.
    #    filmes (dict): Dicionário com informações sobre os filmes.
    #
    #Returns:
    #    list: Lista de filmes recomendados.
    #"""

    recomendacoes = []
    for filme, dados in filmes.items():
        if generos_usuario.intersection(dados["gêneros"]):
            recomendacoes.append(filme)
    return recomendacoes

# Obter as recomendações
recomendados = recomendar_filmes(generos_usuario, filmes)
print("Filmes recomendados:", recomendados)

Filmes recomendados: ['Filme A', 'Filme D', 'Filme E', 'Filme F', 'Filme G']

Vetores e Matrizes


No Python não há conceito de vetores e matrizes de forma nativa na linguagem.

As listas são usadas para suprirem essas necessidades (ou outras bibliotecas podem ser usadas)

In [ ]:
# Vetor com 9 elementos:

vetor = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(vetor)

# Matriz 3 x 3, ou seja, 9 elementos:

matriz = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(matriz)

print(matriz[0][2]) # numero 3

# Fazendo um 'for' aninhado para poder percorrer a Matriz 3 x 3

for linha in matriz:
  for elemento in linha:
    print(elemento, end=' ')
  print()


# Encontrando o maior elemento dentro da matriz:

maior_elemento = matriz[0][0]

for linha in matriz:
  for elemento in linha:
    if elemento > maior_elemento:
      maior_elemento = elemento

print("O maior elemento da matriz é:", maior_elemento)


# Multiplicando a matriz por 5:

for i in range(len(matriz)):
  for j in range(len(matriz[0])):
    matriz[i][j] *= 5

print("Matriz multiplicada por 5:")
for linha in matriz:
  print(linha)
#

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
3
1 2 3
4 5 6
7 8 9
O maior elemento da matriz é: 9
Matriz multiplicada por 5:
[5, 10, 15]
[20, 25, 30]
[35, 40, 45]

Exercício 01 da semana 03:

Complete o programa em Python abaixo para imprimir a mátricula, nome e média do aluno, com base nos dados do dicionário de 'alunos'.

Use apenas uma casa decimal para apresentar a média do aluno.

Observe o exemplo de saída.

In [20]:
# Declaração de dicionário: um dicionário representando um aluno
aluno1 = {"nome" : "Ivo", "disciplina" : "Python", "notas": [5.5, 4.2]}
aluno2 = {"nome" : "Ana", "disciplina" : "Python", "notas": [8.5, 9.2]}
aluno3 = {"nome" : "Rui", "disciplina" : "Python", "notas": [9.5, 6.0]}
aluno4 = {"nome" : "Lia", "disciplina" : "Python", "notas": [4.5, 3.0, 7.5]}

# Declaração de dicionário: alunos de uma turma.
# A chave representa a matrícula do aluno, por exemplo 'a123' é a matrícula do Ivo
alunos = {}
alunos["a123"] = aluno1
alunos["a445"] = aluno2
alunos["a666"] = aluno3
alunos["a801"] = aluno4

# Adicione seu código abaixo (imprimir a mátricula, nome e média do aluno):

print("Média de todos os alunos:")
for chave, valor in alunos.items():
    print(f"Matrícula: {chave}", end=', ')
    print(f"Nome: {valor['nome']}", end=', ')
    media = sum(valor['notas']) / len(valor['notas'])
    print(f"Média: {media:.1f}")

Média de todos os alunos:
Matrícula: a123, Nome: Ivo, Média: 4.8
Matrícula: a445, Nome: Ana, Média: 8.8
Matrícula: a666, Nome: Rui, Média: 7.8
Matrícula: a801, Nome: Lia, Média: 5.0

Exercício 02 da semana 03:

Complete o programa em Python abaixo para imprimir a mátricula, nome e média do aluno solicitado, com base nos dados do dicionário de 'alunos'.

Leia da entrada padrão a matrícula do aluno.

Percorra o dicionário e imprima apenas as informações do aluno solicitado.

Use apenas uma casa decimal para apresentar a média do aluno.

Observe o exemplo de saída.

In [25]:
# Declaração de dicionário: um dicionário representando um aluno
aluno1 = {"nome" : "Ivo", "disciplina" : "Python", "notas": [5.5, 4.2]}
aluno2 = {"nome" : "Ana", "disciplina" : "Python", "notas": [8.5, 9.2]}
aluno3 = {"nome" : "Rui", "disciplina" : "Python", "notas": [9.5, 6.0]}
aluno4 = {"nome" : "Lia", "disciplina" : "Python", "notas": [4.5, 3.0, 7.5]}

# Declaração de dicionário: alunos de uma turma.
# A chave representa a matrícula do aluno, por exemplo 'a123' é a matrícula do Ivo
alunos = {}
alunos["a123"] = aluno1
alunos["a445"] = aluno2
alunos["a666"] = aluno3
alunos["a801"] = aluno4

# Adicione seu código abaixo (imprimir a mátricula, nome e média do aluno):

solicitado = input()
print(f"Média apenas do aluno {solicitado}:")

if solicitado in alunos:
    print(f"Matrícula: {solicitado}", end=', ')
    print(f"Nome: {alunos[solicitado]['nome']}", end=', ')
    media = sum(alunos[solicitado]['notas']) / len(alunos[solicitado]['notas'])
    print(f"Média: {media:.1f}")
else:
    pass

a2412
Média apenas do aluno a2412:

Exercício 03 da semana 03:

Complete o programa em Python abaixo para imprimir a mátricula, nome e média apenas dos alunos aprovados (Média >=7), com base nos dados do dicionário de 'alunos'.

Use apenas uma casa decimal para apresentar a média do aluno.

Observe o exemplo de saída.

For example:

In [26]:
# Declaração de dicionário: um dicionário representando um aluno
aluno1 = {"nome" : "Ivo", "disciplina" : "Python", "notas": [5.5, 4.2]}
aluno2 = {"nome" : "Ana", "disciplina" : "Python", "notas": [8.5, 9.2]}
aluno3 = {"nome" : "Rui", "disciplina" : "Python", "notas": [9.5, 6.0]}
aluno4 = {"nome" : "Lia", "disciplina" : "Python", "notas": [4.5, 3.0, 7.5]}

# Declaração de dicionário: alunos de uma turma.
# A chave representa a matrícula do aluno, por exemplo 'a123' é a matrícula do Ivo
alunos = {}
alunos["a123"] = aluno1
alunos["a445"] = aluno2
alunos["a666"] = aluno3
alunos["a801"] = aluno4

# Adicione seu código abaixo (imprimir a mátricula, nome e média do aluno):

print("Média dos alunos aprovados (média >=7):")
for chave, valor in alunos.items():
    media = sum(valor['notas']) / len(valor['notas'])
    if media >= 7:
      print(f"Matrícula: {chave}", end=', ')
      print(f"Nome: {valor['nome']}", end=', ')
      print(f"Média: {media:.1f}")
    else:
      pass

Média dos alunos aprovados (média >=7):
Matrícula: a445, Nome: Ana, Média: 8.8
Matrícula: a666, Nome: Rui, Média: 7.8