<a href="https://colab.research.google.com/github/raphasariedine/utfpr/blob/main/pos_aula02_(exercicios).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercício 01:

Complete o programa Python abaixo para que os itens da lista "frutas" sejam impressos no console, um item por linha.
frutas = ["Uva", "Banana", "Laranja", "Maçã", "Limão"]
'
'# Dica, use o laço "for" para imprimir os itens no console
....

In [1]:
frutas=["Uva", "Banana", "Laranja", "Maçã", "Limão"]
for fruta in frutas:
    print(fruta)

Uva
Banana
Laranja
Maçã
Limão

Aprendendo sobre operações com listas...

Temos a definição da lista;

Temos a substituição de um elemento da lista;

Temos a adição de um elemento da lista;

Temos a remoção de um elemento da lista;

In [27]:
# Exemplo de lista
numeros = [1, 2, 3, 4, 5]
# Acessando elementos de uma lista utilizando índices.
print(numeros[1])
# Atribuindo um novo valor a um índice específico.
numeros[2] = 10
print(numeros) # Saída: [1, 2 ,10, 4, 5]
# Adicionar um elemento ao final da lista
numeros.append(6)
print(numeros) # Saída: [1, 2 ,10, 4, 5, 6]
# Remover um elemento com base no seu conteúdo
numeros.remove(4)
print(numeros) # Saída: [1, 2 ,10, 5, 6]

2
[1, 2, 10, 4, 5]
[1, 2, 10, 4, 5, 6]
[1, 2, 10, 5, 6]

Aprendendo sobre tuplas:

As tuplas são definidas utilizando parênteses () ou até mesmo sem eles, separando os elementos por vírgulas.

In [34]:
# Exemplo de tupla

tupla1 = (1, 2, 3, 4, 5)
tupla2 = 'a', 'b', 'c', 'd', 'e'

# Acessando elementos de uma tupla utilizando índices.

print(tupla1[1])   # Saída: 2
print(tupla1[-1])  # Saída: 5 (acesso reverso, -1 é o último, -2 o penúltimo, ...)

print(tupla2[1])   # Saída: b
print(tupla2[-1])  # Saída: e (acesso reverso, -1 é o último, -2 o penúltimo, ...)

# Principal uso de tuplas é armazenar dados que não devem ser modificados

ponto = (3, 2)    #Esse é um exemplo de tupla; Este ponto de coordenadas não deverá ser modificado ao longo do programa;

# Tuplas podem ser utilizadas para armazenar dados que não devem ser modificados, como coordenadas, informações constantes, valores de retorno de funções, entre outros.

2
5
b
e

Programando um pouco com listas:

In [35]:
numeros = [4,3,2,6,2,10,55]

print(numeros[0]) # Saída: 4
print(numeros[-1]) # Saída: 55

item = numeros[1]
item = item*2
numeros[1] = item
numeros[2]= numeros[2]*30

print(numeros) # Saída: [4, 6, 2, 6, 2, 10, 55

4
55
[4, 6, 60, 6, 2, 10, 55]

Vamos aprender a adicionar elementos, inserir elementos em determinadas posições, excluir o último elemento e extender a lista;

lista.append(X) ADICIONA UM ELEMENTO (X) AO FINAL DA LISTA

lista.insert(Y,X) ADICIONA UM ELEMENTO (X) NA POSIÇÃO INDICADA (Y)

lista.pop() EXCLUI O ÚLTIMO ELEMENTO DA LISTA

lista.extend(outra_lista) ADICIONA A LISTA (outra_lista) AO FINAL DA LISTA

In [48]:
lista = [2, 3, 4]
print(lista) # [2, 3, 4]
lista.append(5) # [2, 3, 4, 5]
print(lista)
lista.insert(0, 1) # [1, 2, 3, 4, 5]
print(lista)
ultimo = lista.pop() # [1, 2, 3, 4]
print(ultimo) # 5
lista_nova = [8, 9, 10]
lista.extend(lista_nova)
print(lista) # [1, 2, 3, 4, 8, 9, 10]

lista.insert(0,lista_nova[0])
print(lista)


lista = [2,3,4]
lista.append(55)
print(lista)

lista.insert(0,-10)
print(lista)

ultimo = lista.pop()
ultimo = lista.pop()
print(f"O último elemento é {ultimo}")
print(lista)

lista_nova = [33,34,35]
lista.extend(lista_nova)
print(lista)

[2, 3, 4]
[2, 3, 4, 5]
[1, 2, 3, 4, 5]
5
[1, 2, 3, 4, 8, 9, 10]
[8, 1, 2, 3, 4, 8, 9, 10]
[2, 3, 4, 55]
[-10, 2, 3, 4, 55]
O último elemento é 4
[-10, 2, 3]
[-10, 2, 3, 33, 34, 35]

Concatenação de listas:

In [54]:
# Concatenação de Listas
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]
concatenada = lista1 + lista2
print(concatenada) # [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

Replicação de listas:

NÃO É UMA MULTIPLICAÇÃO ... É UMA REPLICAÇÃO!!

In [51]:
# Replicação de Listas
lista = [1, 2, 3]
replicada = lista * 3
print(replicada) # [1, 2, 3, 1, 2, 3, 1, 2, 3]

[1, 2, 3, 1, 2, 3, 1, 2, 3]

Operação de pertencimento:

A operação se dá da seguinte forma:

if x in lista:

  print(...)

else:

  ...

In [57]:
# Item pertence a lista?
lista = [1, 2, 3]
if 2 in lista:
  print("Elemento está na lista.")
else:
  print("Elemento não está na lista.")

Elemento está na lista.

Busca e contagem de elementos:

lista.index(x) -> retorna o índice da posição de onde está o elemento "x"

lista.count(x) -> retorna quantas vezes o elemento "x" está presente na lista.

In [58]:
# Busca por item
lista = [1, 2, 3, 1, 5, 2]
index = lista.index(2)
print("Índice da primeira ocorrência de 2:", index)
# Contagem de ocorrências de um item
count = lista.count(2)
print("Quantidade de ocorrências de 2:", count)

Índice da primeira ocorrência de 2: 1
Quantidade de ocorrências de 2: 2

Iteração = percorrer

Como ocorre?

for nome in nomes:
  
  print (nome)



ALém disso, temos como saber a posição de um elemento em específico, utilizando:

lista.index(valor_elemento)


Se existirem mais de uma posição desse elemento na lista, podemos utilizar o seguinte acréscimo na função:

lista.index(valor_elemento, lista.index(2)+1)

Também, conseguimos saber quantos elementos desse valor estão presentes nas lista, utilizando a seguinte função:

lista.count(valor_elemento)

In [79]:
# A cada iteração do loop a variável nome recebe um valor da lista

nomes = ["João", "Maria", "Pedro"]
for nome in nomes:
  print(nome)


names = 'João', 'Maria', 'Pedro', 'Luiz', 'Edivaldo', 'Silva', 'Pereira'
for name in names:
    print(name, end=' - ')

print("\n")

lista = [1,2,3,4,2,2]
print(lista.index(2,lista.index(2)+1))
print(lista.count(2))

lista = [1, 2, 3, 4, 2, 2]
elemento_procurado = 2
posicoes = []

for i in range(len(lista)):
    if lista[i] == elemento_procurado:
        posicoes.append(i)  # Adiciona o índice diretamente

if posicoes:
    print(f"Posições do {elemento_procurado} são: {', '.join(map(str, posicoes))}")
else:
    print(f"O elemento {elemento_procurado} não foi encontrado na lista.")

João
Maria
Pedro
João - Maria - Pedro - Luiz - Edivaldo - Silva - Pereira -

4
3
Posições do 2 são: 1, 4, 5

Usando a função enumerate:

Enumerate sempre retorna pares de INDICES e OBJETOS.

In [77]:
# A função enumerate() retorna um objeto iterável contendo pares de índices e elementos
nomes = ["João", "Maria", "Pedro"]
for indice, nome, in enumerate(nomes):
  print(indice, nome)

0 João
1 Maria
2 Pedro

Função ZIP

ZIP combina múltiplas variáveis compostas em uma única estrutura iterável.

EM RESUMO: ELa combina as posições da primeira lista com a segunda lista, OU, de tuplas com tuplas...

In [92]:
# A função zip() combina múltiplas variáveis compostas
# (listas ou tuplas) em um única estrutura iterável
nomes = ["João", "Maria", "Pedro"]
idades = [25, 30, 35]
for nome, idade in zip(nomes, idades):

 print(nome, idade)

print(type(nomes))
print(type(idades))

nomes = "João", "Maria", "Pedro"
idades = 25, 30, 35
for nome, idade in zip(nomes, idades):
  print(nome, idade)

print(type(nomes))
print(type(idades))

nomes = "João", "Maria", "Pedro"
idades = 25, 35
for nome, idade in zip(nomes, idades):
  print(nome, idade)

print(type(nomes))
print(type(idades))

João 25
Maria 30
Pedro 35
<class 'list'>
<class 'list'>
João 25
Maria 30
Pedro 35
<class 'tuple'>
<class 'tuple'>
João 25
Maria 35
<class 'tuple'>
<class 'tuple'>

Função RANGE

range() gera uma sequencia de números.

Geralmente usada para controlar a repetição de loops.

LEMBRANDO: como começamos a contagem com 0, o último valor sempre será X-1.

A função range() não inclui o valor final por uma combinação de fatores: convenção, facilidade de uso e flexibilidade. Ao excluir o valor final, o range() se torna uma ferramenta poderosa e versátil para criar sequências de números em Python.

O range() não inclui o valor final por convenção e para facilitar o uso em diversas situações. Essa função permite criar sequências de números com grande flexibilidade, permitindo definir o valor inicial, final e o passo. Ao excluir o valor final, o range() se torna mais intuitivo e consistente com outras funcionalidades da linguagem.

In [89]:
for i in range(5):
  print(i)

# Criando uma sequência de 5 a 10 (excluindo o 10)
for i in range(5, 10):
    print(i, end='-')  # Saída: 5, 6, 7, 8, 9
print("\n")
# Criando uma sequência de 10 a 0, contando de 2 em 2
for i in range(10, 0, -2):
    print(i, end='-')  # Saída: 10, 8, 6, 4, 2
print("\n")

0
1
2
3
4
5-6-7-8-9-

10-8-6-4-2-

O slicing (ou "fatiamento") é uma técnica em Python que permite extrair partes de sequências, como listas, tuplas, strings.

Lembrar que o início é inclusivo e o fim é exclusivo...

Quando tem "::" quer dizer que terá uma iteração em passo de 2 elementos

In [94]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9]
# Índices 1 (inclusivo) ao 5 (exclusivo)
print(lista[1:5]) # [2, 3, 4, 5]
# Do início até 5 (exclusivo, lembre-se lista[5] retorna o item 6)
print(lista[:5]) # [1, 2, 3, 4, 5]
# Do 5 (inclusivo) até o final
print(lista[5:]) # [6, 7, 8, 9]
# Iterando a cada 2 elementos
print(lista[::2]) # [1, 3, 5, 7, 9]
# Do 1 ao 7 (exclusivo), iterando a cada 2 elementos
print(lista[1:7:2]) # [2, 4, 6]

print(lista[::3]) # [1, 4, 7]

[2, 3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9]
[1, 3, 5, 7, 9]
[2, 4, 6]
[1, 4, 7]

Em SLICING, se utilizarmos números negativos, fazemos a iteração de trás para frente!

É como se fosse uma iteração REGRESSIVA!

iteração = percorrimento (percorrer)

In [95]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9]
# Retorna os três últimos elementos
print(lista[-3:]) # [7, 8, 9]
# Retorna todos os elementos, exceto, os 5 últimos
print(lista[:-5]) # [1, 2, 3, 4]
# Retorna os elementos em ordem inversa
print(lista[::-1]) # [9, 8, 7, 6, 5, 4, 3, 2, 1]

[7, 8, 9]
[1, 2, 3, 4]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

SLICING com STRINGS

STRINGS é uma cadeia de CARACTERES, portanto, podemos percorre-la.

In [99]:
frase = "UTFPR"
print(frase[0]) # U
print(frase[:3]) # UTF
print(frase[3:]) # PR
print(frase[::-1]) # RPFTU

parte = frase[:3]
print("Parte da frase:", parte) # UTF

U
UTF
PR
RPFTU
Parte da frase: UTF

Principais funções built-in para processar Listas e Tuplas.

BULT-IN = EMBUTIDAS

In [100]:
lista = [4, 3, 77, 2, 1]
# Tamanho da lista
print(len(lista)) # 5
# Valor máximo e mínimo da lista
print(max(lista)) # 77
print(min(lista)) # 1
# Soma dos elementos da lista
print(sum(lista)) # 87
# Elementos ordenados
print(sorted(lista)) # [1, 2, 3, 4, 77]
# Elementos em ordem reversa da lista
print(list(reversed(lista))) # [1, 2, 77, 3, 4]

5
77
1
87
[1, 2, 3, 4, 77]
[1, 2, 77, 3, 4]

**Lista - Dados heterogêneos**

In [115]:
# A lista abaixo armazena o nome, idade, e-mail e situação do
# pessoa/usuário (ativo)
dados_pessoa = ["João", 25, "joao@utfpr.edu.br", True]
print("Nome:", dados_pessoa[0])
print("Idade:", dados_pessoa[1])
print("E-mail:", dados_pessoa[2])
print("Ativo:", dados_pessoa[3])
dados_pessoa[3] = False
print("Ativo:", dados_pessoa[3])


dados_pessoa = ["João", 25, "joao@utfpr.edu.br", True]
dados_pessoa[0] = "José da Silva"
print(dados_pessoa)
print(f"Nome do usuário: {dados_pessoa[0]}")
print(f"Idade do usuário: {dados_pessoa[1]}")
print(f"E-mail do usuário: {dados_pessoa[2]}")
print(f"Usuário ativo? {dados_pessoa[3]}")

Nome: João
Idade: 25
E-mail: joao@utfpr.edu.br
Ativo: True
Ativo: False
['José da Silva', 25, 'joao@utfpr.edu.br', True]
Nome do usuário: José da Silva
Idade do usuário: 25
E-mail do usuário: joao@utfpr.edu.br
Usuário ativo? True

**Lista - Dados heterogêneos**

A lista abaixo armazena o nome, idade, e-mail e situação do pessoa/usuário (ativo)


LISTA DE LISTA

In [124]:
# A lista abaixo armazena o nome, idade, e-mail e situação do pessoa/usuário (ativo)

# Imagine que você carregou os dados das pessoas de um CSV (arquivo de planilha, banco de dados)

pessoas = [
 ["João", 25, "joao@utfpr.edu.br", True],
 ["Maria", 32, "maria@utfpr.edu.br", True],
 ["Pedro", 18, "pedro@utfpr.edu.br", True],
 ["Ana", 45, "ana@utfpr.edu.br", False],
]
p = pessoas[3]
print(f"Nome: {p[0]}, Idade: {p[1]}, E-mail: {p[2]}, Ativo: {p[3]}")

print("Listando apenas as pessoas inativas:")
for pessoa in pessoas:
  if pessoa[3] == False:
    print(f"Nome: {pessoa[0]}, Idade: {pessoa[1]}, E-mail: {pessoa[2]}, Ativo: {pessoa[3]}")

print("Listando apenas as pessoas ativas:")
for pessoa in pessoas:
  if pessoa[3] == True:
    print(f"Nome: {pessoa[0]}, Idade: {pessoa[1]}, E-mail: {pessoa[2]}, Ativo: {pessoa[3]}")

Nome: Ana, Idade: 45, E-mail: ana@utfpr.edu.br, Ativo: False
Listando apenas as pessoas inativas:
Nome: Ana, Idade: 45, E-mail: ana@utfpr.edu.br, Ativo: False
Listando apenas as pessoas ativas:
Nome: João, Idade: 25, E-mail: joao@utfpr.edu.br, Ativo: True
Nome: Maria, Idade: 32, E-mail: maria@utfpr.edu.br, Ativo: True
Nome: Pedro, Idade: 18, E-mail: pedro@utfpr.edu.br, Ativo: True

Programando um pouco com **TUPLAS**:

In [39]:
numeros= 1,2,3,4,5
letras = 'a','b','c','d','e','f','g','h','i','j'

print(numeros)
print(letras)

print(numeros[0])
print(letras[1])
print(letras[-1])

(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j')
1
b
j

Concatenação de Tuplas:

In [50]:
# Concatenação de Tuplas
tupla1 = (1, 2, 3)
tupla2 = (4, 5, 6)
concatenada = tupla1 + tupla2
print(concatenada) # [1, 2, 3, 4, 5, 6]

(1, 2, 3, 4, 5, 6)

Replicação de TUPLAS:

NÃO É MULTIPLICAÇÃO... É REPLICAÇÃO!!

In [52]:
# Replicação de Tuplas
tupla = (4, 5, 6)
replicada = tupla * 3
print(replicada) # (4, 5, 6, 4, 5, 6, 4, 5, 6]

(4, 5, 6, 4, 5, 6, 4, 5, 6)

**Tupla - Dados heterogêneos**

In [119]:
# A tupla abaixo armazena o nome, idade, e-mail e situação do
# pessoa/usuário (ativo)
dados_pessoa = ("João", 25, "joao@utfpr.edu.br", True)
print("Nome:", dados_pessoa[0])
print("Idade:", dados_pessoa[1])
print("E-mail:", dados_pessoa[2])
print("Ativo:", dados_pessoa[3])

Nome: João
Idade: 25
E-mail: joao@utfpr.edu.br
Ativo: True

Exercício 02:

O programa abaixo lê da entrada padrão 4 inteiros e armazena em uma lista.

Complete o programa com instruções para somar os itens da lista e depois imprimir o valor da soma no console.

numeros = []

for i in range(4):
    numero_lido = int(input())
    numeros.append(numero_lido)

soma = 0

'# Adicione abaixo instruções para somar todos os números e imprimir no console.

In [2]:
numeros = []

for i in range(4):
  numero_lido = int(input())
  numeros.append(numero_lido)

soma = 0

# Adicione abaixo instruções para somar todos os números e imprimir no console.

for numero in numeros:
  soma = soma + numero

print("Soma =",soma)
#

10
20
30
40
100

Exercício 03:

O programa abaixo lê da entrada padrão um valor inteiro N. Depois, lê N inteiros e armazena em uma lista.

Complete o programa com instruções para imprimir no console o menor valor e maior valor da lista.

'# Definição de lista vazia

numeros = []

'# Lendo da entrada padrão o número de elementos que serão adicionados na lista (inteiro N do enunciado)

numero_de_elementos = int(input())

'# Adicionando elementos na lista

for i in range(numero_de_elementos):

    numero_lido = int(input())
    numeros.append(numero_lido)

'# Adicione instruções para imprimir o menor e maior valor da lista.

In [107]:
# Definição de lista vazia
numeros = []
# Lendo da entrada padrão o número de elementos que serão adicionados na lista (inteiro N do enunciado)
numero_de_elementos = int(input())
# Adicionando elementos na lista
for i in range(numero_de_elementos):
    numero_lido = int(input())
    numeros.append(numero_lido)

# Adicione instruções para imprimir o menor e maior valor da lista.
print("Menor:", min(numeros))
print("Maior:", max(numeros))

4
1
2
3
4
Menor: 1
Maior: 4

In [106]:
numeros = []
numero_de_elementos = int(input())
for i in range(numero_de_elementos):
  numero_lido = int(input())
  numeros.append(numero_lido)

# Tamanho da lista
print(len(numeros))
# Valor máximo e mínimo da lista
print("Menor:", min(numeros))
print("Maior:", max(numeros))
# Soma dos elementos da lista
print(sum(numeros))
# Elementos ordenados
print(sorted(numeros))
# Elementos em ordem reversa da lista
print(list(reversed(numeros)))

3
5
0
2
3
Menor: 0
Maior: 5
7
[0, 2, 5]
[2, 0, 5]

In [3]:
# Definição de lista vazia
numeros = []
# Lendo da entrada padrão o número de elementos que serão adicionados na lista (inteiro N do enunciado)
numero_de_elementos = int(input())
# Adicionando elementos na lista
for i in range(numero_de_elementos):
    numero_lido = int(input())
    numeros.append(numero_lido)

# Adicione instruções para imprimir o menor e maior valor da lista.
menor = numeros[0]
maior = numeros[0]
for numero in numeros:
  if numero < menor:
    menor = numero
  if numero > maior:
    maior = numero

print("Menor:",menor)
print("Maior:",maior)
#

4
1
2
3
4
Menor: 1
Maior: 4

Exercício 04:

Complete o programa abaixo com instruções para imprimir o primeiro e último elementos da tupla.

elementos = 1, 2, 3, 4, 5

1# Adicione instruções para imprimir o primeiro e último elemento da tupla

In [5]:
elementos = 1, 2, 3, 4, 5

# Adicione instruções para imprimir o primeiro e último elemento da tupla
print("Primeiro:", elementos[0])
print("Último:", elementos[-1])
#

Primeiro: 1
Último: 5

Exercício 05:

Complete o programa abaixo com instruções para imprimir o índice de um determinado elemento da tupla.

elementos = (11, 42, 3, 64, -15)

elemento_procurado = int(input())

1# Adicione instruções para imprimir o índice do elemento procurado

In [109]:
elementos = (11, 42, 3, 64, -15)

elemento_procurado = int(input())

# Adicione instruções para imprimir o índice do elemento procurado
for i in range(len(elementos)):
  if elementos[i] == elemento_procurado:
    print("Índice do elemento:", i)

11
Índice do elemento: 0

Exercício 06:

O programa abaixo define uma lista de idades de pessoas de uma cidade.

Complete o programa abaixo com instruções para imprimir o número de idades menores de 18 anos e o número de idades maiores ou iguais de 18 anos.

Dica: percora a lista e teste os valores usando comandos de decisão (if-else).

idades = [11, 42, 3, 64, 9, 12, 33, 44]

1# Adicione instruções para imprimir o que se pede na questão

In [7]:
idades = [11, 42, 3, 64, 9, 12, 33, 44]

# Adicione instruções para imprimir o que se pede na questão
menores = 0
maiores = 0
for idade in idades:
  if idade < 18:
    menores += 1
  else:
    maiores += 1

print("Maior ou igual 18:", maiores)
print("Menor de 18:", menores)

Maior ou igual 18: 4
Menor de 18: 4

Exercício 07:

Implemente um programa em Python que lê da entrada padrão 5 caracteres e armazena em uma lista.

Depois, o programa deve ler da entrada padrão um caractere que deve ser procurado na lista de caracteres lidos anteriormente.

Por fim, imprima no console quantas vezes o caractere procurado foi encontrado na lista.

Dica:

Defina um for para ler os caracteres da entrada padrão.
Depois leia o caractere a ser procurado.
Defina um segundo for para percorrer a lista de caracteres e contar o número de ocorrências.
Use print(f"Caractere '{procurado}' foi encontrado {encontrado} vezes.") para mostrar o resultado no console.
Nos exemplos abaixo, perceba que o último caractere da lista Input é o caractere procurado.

In [11]:
caracteres = []
for i in range(5):
  caractere = input()
  caracteres.append(caractere)

procurado = input()

encontrado = 0

for caractere in caracteres:
  if caractere == procurado:
    encontrado += 1

print(f"Caractere '{procurado}' foi encontrado {encontrado} vezes.")

a
b
c
d
e
a
Caractere 'a' foi encontrado 1 vezes.

Exercício 08:

Implemente um programa em Python para ler 5 valores inteiros da entrada padrão e armazene em uma lista.

Depois, use a estrutura de dados conjunto para remover possíveis dados duplicados.

Por fim, imprima na saída padrão os elementos, sem valores duplicados.

In [16]:
lista=[]
for i in range(5):
  valor=int(input())
  lista.append(valor)

conjunto=set(lista)

string_formatada = ', '.join(str(elemento) for elemento in conjunto)

# Adicionando as chaves
resultado = f"{{{string_formatada}}}"

print(resultado)  # Saída: {1, 2, 3, 7}

1
1
1
0
0
{0, 1}

Exercício 09:

Implemente um programa em Python para imprimir os dados do dicionário abaixo.

aluno = {
    'matricula' : 123,
    'nome' : 'José Silva',
    'curso' : 'Especialização IA no Agro',
    'disciplina' : "Fundamentos de Programação para Aplicações na Agricultura"
}

Lembre-se de formatar a saída conforme exemplo abaixo.

aluno = {
    'matricula' : 123,
    'nome' : 'José Silva',
    'curso' : 'Especialização IA no Agro',
    'disciplina' : "Fundamentos de Programação para Aplicações na Agricultura"
}

Resultado:

Dados do estudante:
Nome: José Silva
Matrícula: 123
Curso: Especialização IA no Agro
Disciplina: Fundamentos de Programação para Aplicações na Agricultura


aluno = {
    'matricula' : 123
    'nome' : 'José Silva',
    'curso' : 'Especialização IA no Agro',
    'disciplina' : "Fundamentos de Programação para Aplicações na Agricultura"
}

1# adicione seu código abaixo.

In [18]:
aluno = {
    'matricula' : 123,
    'nome' : 'José Silva',
    'curso' : 'Especialização IA no Agro',
    'disciplina' : "Fundamentos de Programação para Aplicações na Agricultura"
}

# adicione seu código abaixo.
print("Dados do estudante:")
print("Nome:", aluno['nome'])
print("Matrícula:", aluno['matricula'])
print("Curso:", aluno['curso'])
print("Disciplina:", aluno['disciplina'])
#

Dados do estudante:
Nome: José Silva
Matrícula: 123
Curso: Especialização IA no Agro
Disciplina: Fundamentos de Programação para Aplicações na Agricultura

Exercício 10:

Implemente um programa em Python para ler da entrada padrão um dia da semana.

Depois, o programa deve consultar o dicionário abaixo e imprimir a temperatura desse dia.

Caso o usuário informe um dia que não existe no dicionário, imprima a mensagem: "Erro: informe dia no formato seg, ter, qua, qui, sex, sab, dom".

temperaturas = {
    'seg' : 32.5,
    'ter' : 25,
    'qua' : 26.5,
    'qui' : 22,
    'sex': 18,
    'sab': 15,
    'dom': 17
}

Lembre-se de formatar a saída conforme exemplo abaixo.

Saída:

seg: 32.5

ter: 25

Erro: informe dia no formato seg, ter, qua, qui, sex, sab, dom

dom: 17

In [24]:
temperaturas = {
    'seg' : 32.5,
    'ter' : 25,
    'qua' : 26.5,
    'qui' : 22,
    'sex': 18,
    'sab': 15,
    'dom': 17
}

# adicione seu código abaixo.

dia = input()

if dia in temperaturas:
  print(f"{dia}:",temperaturas[dia])
else:
  print("Erro: informe dia no formato seg, ter, qua, qui, sex, sab, dom")
#

dom
dom: 17

Exercício 11:

Complete o programa em Python abaixo para imprimir a quantidade total de frutas do dicionário.

'# Dicionário
Entrada:

frutas = {"Maçã": 10, "Banana": 15, "Laranja": 12, "Uva": 32}

Resultado:

Total de frutas: 69

In [25]:
# Dicionário
frutas = {"Maçã": 10, "Banana": 15, "Laranja": 12, "Uva": 32}

total_frutas = 0

# Adicione aqui seu código para calcular o total de frutas
for quantidade in frutas.values():
  total_frutas += quantidade

# Imprimir o total
print("Total de frutas:", total_frutas)

Total de frutas: 69

Exercício 12:

Complete o programa em Python abaixo para imprimir a frase:

"A capital do paísX é cidadeY."

para cada par de país e capital do dicionário capitais.

Entrada:

'# Dicionário

capitais = {"Brasil": "Brasília", "França": "Paris", "Japão": "Tóquio"}

Saída:

A capital do Brasil é Brasília.

A capital do França é Paris.

A capital do Japão é Tóquio.


'# Dicionário

capitais = {"Brasil": "Brasília", "França": "Paris", "Japão": "Tóquio"}

'# Adicione aqui seu código para iterar sobre o dicionário

In [26]:
# Dicionário
capitais = {"Brasil": "Brasília", "França": "Paris", "Japão": "Tóquio"}

# Adicione aqui seu código para iterar sobre o dicionário

for pais, capital in capitais.items():
  print(f"A capital do {pais} é {capital}.")
#

A capital do Brasil é Brasília.
A capital do França é Paris.
A capital do Japão é Tóquio.