<a href="https://colab.research.google.com/github/raphasariedine/utfpr/blob/main/Sintaxe_basica_em_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Texto gerado com IA. O comando foi simples.

In [1]:
# prompt: gere um codigo em python com a seguinte saida escrita: Bem vindo (nome da pessoa). Vamos programar em Python!

nome = input("Digite seu nome: ")
print(f"Bem vindo {nome}. Vamos programar em Python!")

Digite seu nome: Raphael
Bem vindo Raphael. Vamos programar em Python!

In [3]:
nome = "Fulano da Silva"
print("Bem vindo "+nome+". Vamos programar em Python!")

Bem vindo Fulano da Silva. Vamos programar em Python!

Programa resultando o texto escrito de uma aula inicial.

In [6]:
nome = input("Digite seu nome: ")
print("Bem vindo " + nome + ". Vamos programar em Python!")

Digite seu nome: Raphael
Bem vindo Raphael. Vamos programar em Python!

Outras opcoes...

In [10]:
nome = input("Informe o seu nome: ")
print("Ola",nome,".")

Informe o seu nome: Raphael
Ola Raphael .

In [11]:
qtde = float(input("Informe a qtde de soja colhida: "))
area = float(input("Informe a area plantada: "))
produtividade = qtde/area
print(f"A produtividade foi de {produtividade} soja por hectare")

Informe a qtde de soja colhida: 100
Informe a area plantada: 10
A produtividade foi de 10.0 soja por hectare

Programa que faz o calculo do teorema de pitagoras para triangulos de pitagoras, ou seja, triangulos que possuem um angulo de noventa graus.

In [12]:
#Programa para dar o resultado de pitagoras de dois valores de entrada de um triangulo de pitagoras;
a = float(input("Informe o valor de a: "))
b = float(input("Informe o valor de b: "))
pitagoras = (a**2 + b**2) ** (1/2)
print(f"O valor da hipotenusa é {pitagoras}")

Informe o valor de a: 7
Informe o valor de b: 4
O valor da hipotenusa é 8.06225774829855

Programa para converter variaveis numericas em variaveis do tipo string;

In [17]:
idade = input("Informe a sua idade: ")
print("A idade é " + idade)
idade_str = str(idade)
print("Tipo de Dado", type(idade_str))

Informe a sua idade: 18
A idade é 18
Tipo de Dado <class 'str'>

Programa para converter variaveis strings em variaveis do tipo inteiro:;

In [19]:
numero_str = input("Informe um numero: ")
numero_int = int(numero_str)
print("O seu numero e: " + numero_str)
print("Tipo de Dado", type(numero_int))

Informe um numero: 5
O seu numero e: 5
Tipo de Dado <class 'int'>

Programa para converter variaveis strings em variaveis do tipo float;
E no final ainda faz uma multiplicacao basica por um numero float tambem.

In [24]:
numero_str = input("Informe um numero: ")
print("Tipo de Dado", type(numero_str))
numero_float = float(numero_str)
print("O seu numero e: " + numero_str)
print("Tipo de Dado", type(numero_float))
print(numero_float*1.5)

Informe um numero: 9.5
Tipo de Dado <class 'str'>
O seu numero e: 9.5
Tipo de Dado <class 'float'>
14.25