<a href="https://colab.research.google.com/github/raphasariedine/utfpr/blob/main/Sintaxe_basica_em_Python_(aula_1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Texto gerado com IA. O comando foi simples.

In [ ]:
# prompt: gere um codigo em python com a seguinte saida escrita: Bem vindo (nome da pessoa). Vamos programar em Python!

nome = input("Digite seu nome: ")
print(f"Bem vindo {nome}. Vamos programar em Python!")

Digite seu nome: Raphael
Bem vindo Raphael. Vamos programar em Python!

In [ ]:
nome = "Fulano da Silva"
print("Bem vindo "+nome+". Vamos programar em Python!")

Bem vindo Fulano da Silva. Vamos programar em Python!

Programa resultando o texto escrito de uma aula inicial.

In [ ]:
nome = input("Digite seu nome: ")
print("Bem vindo " + nome + ". Vamos programar em Python!")

Digite seu nome: Raphael
Bem vindo Raphael. Vamos programar em Python!

Outras opcoes...

In [ ]:
nome = input("Informe o seu nome: ")
print("Ola",nome,".")

Informe o seu nome: Raphael
Ola Raphael .

In [ ]:
qtde = float(input("Informe a qtde de soja colhida: "))
area = float(input("Informe a area plantada: "))
produtividade = qtde/area
print(f"A produtividade foi de {produtividade} soja por hectare")

Informe a qtde de soja colhida: 100
Informe a area plantada: 10
A produtividade foi de 10.0 soja por hectare

Programa que faz o calculo do teorema de pitagoras para triangulos de pitagoras, ou seja, triangulos que possuem um angulo de noventa graus.

In [ ]:
#Programa para dar o resultado de pitagoras de dois valores de entrada de um triangulo de pitagoras;
a = float(input("Informe o valor de a: "))
b = float(input("Informe o valor de b: "))
pitagoras = (a**2 + b**2) ** (1/2)
print(f"O valor da hipotenusa é {pitagoras}")

Informe o valor de a: 7
Informe o valor de b: 4
O valor da hipotenusa é 8.06225774829855

Programa para converter variaveis numericas em variaveis do tipo string;

In [ ]:
idade = input("Informe a sua idade: ")
print("A idade é " + idade)
idade_str = str(idade)
print("Tipo de Dado", type(idade_str))

Informe a sua idade: 18
A idade é 18
Tipo de Dado <class 'str'>

Programa para converter variaveis strings em variaveis do tipo inteiro:;

In [ ]:
numero_str = input("Informe um numero: ")
numero_int = int(numero_str)
print("O seu numero e: " + numero_str)
print("Tipo de Dado", type(numero_int))

Informe um numero: 5
O seu numero e: 5
Tipo de Dado <class 'int'>

Programa para converter variaveis strings em variaveis do tipo float;
E no final ainda faz uma multiplicacao basica por um numero float tambem.

In [ ]:
numero_str = input("Informe um numero: ")
print("Tipo de Dado", type(numero_str))
numero_float = float(numero_str)
print("O seu numero e: " + numero_str)
print("Tipo de Dado", type(numero_float))
print(numero_float*1.5)

Informe um numero: 9.5
Tipo de Dado <class 'str'>
O seu numero e: 9.5
Tipo de Dado <class 'float'>
14.25

É um programa básico testando algumas funções do Phyton, como a de identificar caracteres em strings, a de imprimir parte da string ou de mostrar alguns caracteres presentes na string. Tambem temos a de soma de strings, que é também chamda de concatenação.

In [ ]:
nome='joaquim'
print("tem a letra 'm' no nome?",("m" in nome))
print("tem a letra 't' no nome?",("t" in nome))
print(nome*3)
print(nome[0:4])
print(nome+nome)

tem a letra 'm' no nome? True
tem a letra 't' no nome? False
joaquimjoaquimjoaquim
joaq
joaquimjoaquim

Aqui treinamento para fazer listas e printar suas posições...

In [ ]:
lista=[1,2,3,"credits",3," ","combo"]
print(lista)
[1,2,3,"credits",3," ","combo"]
print(lista[0])
print(lista[1])
print(lista[2])
print(lista[3])
print(lista[4])
print(lista[5])
print(lista[6])

[1, 2, 3, 'credits', 3, ' ', 'combo']
1
2
3
credits
3

combo

Agora o treinamento para adicionar elementos nas listas;
TAMBEM para identificar posições de elementos nas listas;
E POR FIM PARA contar quantos elementos de certo valor existem naquela lista; POR FIM DO FIM também para remover elementos específicos da lista;

In [ ]:
lista=[1,2,3,"credits",3," ",3,3,3,3,3,3,3,3,"combo"]
print(lista)
lista.append(4)
print(lista)
lista.append("outro")
print(lista)
print(lista.index("outro"))
print(lista.index(3))
print(lista.count(3))
lista.remove("credits")
print(lista)
lista.reverse()
print(lista)
lista2=[1,2,3,4,5]
lista2.reverse()
print(lista2)
lista2.sort()
print(lista2)
lista2.sort(reverse=True)
print(lista2)
lista.pop()
print(lista)
lista.pop()
print(lista)

[1, 2, 3, 'credits', 3, ' ', 3, 3, 3, 3, 3, 3, 3, 3, 'combo']
[1, 2, 3, 'credits', 3, ' ', 3, 3, 3, 3, 3, 3, 3, 3, 'combo', 4]
[1, 2, 3, 'credits', 3, ' ', 3, 3, 3, 3, 3, 3, 3, 3, 'combo', 4, 'outro']
16
2
10
[1, 2, 3, 3, ' ', 3, 3, 3, 3, 3, 3, 3, 3, 'combo', 4, 'outro']
['outro', 4, 'combo', 3, 3, 3, 3, 3, 3, 3, 3, ' ', 3, 3, 2, 1]
[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
['outro', 4, 'combo', 3, 3, 3, 3, 3, 3, 3, 3, ' ', 3, 3, 2]
['outro', 4, 'combo', 3, 3, 3, 3, 3, 3, 3, 3, ' ', 3, 3]

como trabalhar com dicionários no Phyton... aprender a inserir itens, considerando que os itens são o conjunto de chaves e valores... criar dicionários... excluir itens ... identificar chaves. .. identificar valores ... e identificar os próprios itens.

In [ ]:
#vamos supor que estamos buscando aqui adicionar numeros de telefones em uma lista de contatos de pessoas. Como se fosse adicionar numeros de telefones em uma agenda telefonica.
agenda={"mateus":61996969696,"rita":62985848382,"joao":63974737271,"cassio":994234190,"manuela":995593419}
print(agenda)
print(agenda["mateus"])
print(agenda["rita"])
print(agenda["joao"])
print(agenda["cassio"])
print(agenda["manuela"])
agenda["mateus"]=61999999999
print(agenda)
agenda["pablo"]=984919329
print(agenda)
del agenda["rita"]
print(agenda)
agenda.pop("joao")
print(agenda)
print(agenda.keys())
print(agenda.values())
print(agenda.items())

{'mateus': 61996969696, 'rita': 62985848382, 'joao': 63974737271, 'cassio': 994234190, 'manuela': 995593419}
61996969696
62985848382
63974737271
994234190
995593419
{'mateus': 61999999999, 'rita': 62985848382, 'joao': 63974737271, 'cassio': 994234190, 'manuela': 995593419}
{'mateus': 61999999999, 'rita': 62985848382, 'joao': 63974737271, 'cassio': 994234190, 'manuela': 995593419, 'pablo': 984919329}
{'mateus': 61999999999, 'joao': 63974737271, 'cassio': 994234190, 'manuela': 995593419, 'pablo': 984919329}
{'mateus': 61999999999, 'cassio': 994234190, 'manuela': 995593419, 'pablo': 984919329}
dict_keys(['mateus', 'cassio', 'manuela', 'pablo'])
dict_values([61999999999, 994234190, 995593419, 984919329])
dict_items([('mateus', 61999999999), ('cassio', 994234190), ('manuela', 995593419), ('pablo', 984919329)])

Tipples... vamos aprender a fazer tuples ... tuples são listas que não podem ter seus itens excluidos ou adicionados. É uma lista fixa, não mutável. O ideal seria trabalhar para dados que não podem ser modificados.

In [ ]:
tuplas=("mateus","rita","joao","cassio","manuela")
print(tuplas)
print(tuplas[0])
print(tuplas[1])
print(tuplas[2])
print(tuplas[3])
print(tuplas[4])
print(tuplas.index("mateus"))
print(tuplas.index("rita"))
print(tuplas.index("joao"))
print(tuplas.index("cassio"))
print(tuplas.index("manuela"))
print(len(tuplas))
print(tuplas+tuplas)
print(tuplas*3)
print("joao" in tuplas)
print("pablo" in tuplas)
lista=["delfin","baleia","tubarao"]
print(lista)
print(tuple(lista))
among=tuple(lista)
print(among)

('mateus', 'rita', 'joao', 'cassio', 'manuela')
mateus
rita
joao
cassio
manuela
0
1
2
3
4
5
('mateus', 'rita', 'joao', 'cassio', 'manuela', 'mateus', 'rita', 'joao', 'cassio', 'manuela')
('mateus', 'rita', 'joao', 'cassio', 'manuela', 'mateus', 'rita', 'joao', 'cassio', 'manuela', 'mateus', 'rita', 'joao', 'cassio', 'manuela')
True
False
['delfin', 'baleia', 'tubarao']
('delfin', 'baleia', 'tubarao')
('delfin', 'baleia', 'tubarao')

utilizando IF e ELSE ... ELIF

In [ ]:
number=1
if(number==1):
  print("o numero e 1")
else:
  print("o numero nao e 1")
  if(number==2):
    print("o numero e 2")
  else:
    print("o numero nao e 2")
    if(number==3):
      print("o numero e 3")
nome="tiago"
if("t" in nome):
  print("o nome tem a letra t")
else:
  print("o nome nao tem a letra t")
if("g" not in nome):
    print("o nome nao tem a letra g")
else:
      pass
if("i" in nome):
        print("o nome tem a letra i")
elif("i" in nome):
        print("o nome tem a letra i")
else:
          pass

o numero e 1
o nome tem a letra t
o nome tem a letra i

"FOR" LOOP

In [ ]:
for x in range (0,5):
  print("O valor de x é", x)

nome="tiago"
for letra in nome:
  print("A letra é", letra)
lista=["tiago", 19, "programador"]
for item in lista:
  print("O item é", item)

O valor de x é 0
O valor de x é 1
O valor de x é 2
O valor de x é 3
O valor de x é 4
A letra é t
A letra é i
A letra é a
A letra é g
A letra é o
O item é tiago
O item é 19
O item é programador

"WHILE" LOOP

In [ ]:
numero=15
while(numero>0):
  print("O numero é", numero)
  numero=numero-1
print("chegou ao fim")
jota=20
while((jota>0)&(numero>-10)):
  print("O numero é", jota)
  jota=jota-1
  numero=numero-1
print("chegou ao fim")

O numero é 15
O numero é 14
O numero é 13
O numero é 12
O numero é 11
O numero é 10
O numero é 9
O numero é 8
O numero é 7
O numero é 6
O numero é 5
O numero é 4
O numero é 3
O numero é 2
O numero é 1
chegou ao fim
O numero é 20
O numero é 19
O numero é 18
O numero é 17
O numero é 16
O numero é 15
O numero é 14
O numero é 13
O numero é 12
O numero é 11
chegou ao fim

PASS, BREAK e CONTINUE...
O BREAK é utilizado tanto em IF ou WHILE, quando queremos sair de ciclos.

In [ ]:
numero=20
while True:
  print("O numero é", numero)
  numero=numero-1
  if(numero==2):
    break
print("chegou ao fim")

x=10
while True:
  x=x-1
  if(x==5):
    continue
  print("O valor de x é", x)
  if(x==0):
    break
print("chegou ao fim")
y=10
while True:
  print("O valor de y é", y)
  y=y-1
  if(y==7):
    while((y>=2)&(y<=7)):
      y=y-1
  if(y==0):
    break
print("chegou ao fim")
for y in range (0,10):
  continue
  print("O valor de y é", y)
for x in range (0,5):
  pass
  print("O valor de x é", x)

O numero é 20
O numero é 19
O numero é 18
O numero é 17
O numero é 16
O numero é 15
O numero é 14
O numero é 13
O numero é 12
O numero é 11
O numero é 10
O numero é 9
O numero é 8
O numero é 7
O numero é 6
O numero é 5
O numero é 4
O numero é 3
chegou ao fim
O valor de x é 9
O valor de x é 8
O valor de x é 7
O valor de x é 6
O valor de x é 4
O valor de x é 3
O valor de x é 2
O valor de x é 1
O valor de x é 0
chegou ao fim
O valor de y é 10
O valor de y é 9
O valor de y é 8
O valor de y é 1
chegou ao fim
O valor de x é 0
O valor de x é 1
O valor de x é 2
O valor de x é 3
O valor de x é 4

Expressões lógicas: nos permite fazer comparações e combinações.

In [10]:
a=5
b=3
c=7
resultado=(a>b)
print("Resultado da expressão:(a>b):", resultado)
print(type(resultado))

resultado=(a>b)and(a<c)
print("Resultado da expressão:(a>b)and(a<c):", resultado)

resultado=(a>b)or(a>c)
print("Resultado da expressão:(a>b)or(a>c)", resultado)

resultado=not(a>b)
print("Resultado da expressão:not(a>b)", resultado)

resultado=(a>b)|(a<c)
print("Resultado da expressão:(a>b)|(a<c)", resultado)

resultado=(a>b)&(a<c)
print("Resultado da expressão:(a>b)&(a<c)", resultado)

resultado=not(a==b)
print("Resultado da expressão:not(a==b)", resultado)

resultado=((a>b)and(b<c))or(a==c)
print("Resultado da expressão:((a>b)and(b<c))or(a==c)", resultado)

resultado=not((a>b)or(b<c))
print("Resultado da expressão:not((a>b)or(b<c))", resultado)

Resultado da expressão:(a>b): True
<class 'bool'>
Resultado da expressão:(a>b)and(a<c): True
Resultado da expressão:(a>b)or(a>c) True
Resultado da expressão:not(a>b) False
Resultado da expressão:(a>b)|(a<c) True
Resultado da expressão:(a>b)&(a<c) True
Resultado da expressão:not(a==b) True
Resultado da expressão:((a>b)and(b<c))or(a==c) True
Resultado da expressão:not((a>b)or(b<c)) False

Comandos de decisão: nos permite montar um programa baseado em definições, decisões.
COMANDOS DE DECISÃO (IF-ELSE)
o INPUT retorna uma variável em modelo "STRING".
Para transformar a variável em modelo INTEIRO, devemos adicionar o "int" antes do input.

In [16]:
idade=int(input("Informe a sua idade: "))
if(idade>=18):
  print("Você é maior de idade")
else:
  print("Você é menor de idade")
print("Fim do programa")

numero_str=input("Informe um numero: ")
numero_int=int(numero_str)
if(numero_int%2==0):
  print("O numero é par")
else:
  print("O numero é impar")

Informe a sua idade: 44
Você é maior de idade
Fim do programa
Informe um numero: 19
O numero é impar

Usando o ELIF

In [27]:
nota=float(input("Digite a nota do aluno: "))
if((nota>10)or(nota<0)):
  print("Nota inválida")
elif(nota>=9):
  print("Conceito A - Excelente")
elif(nota>=8):
  print("Conceito B - Muito bom")
elif(nota>=7):
  print("Conceito C - Bom")
elif(nota>=6):
  print("Conceito D 0 Regular")
else:
  print("Conceito E - Ruim")
print("Fim do programa")


idade=int(input("Digite sua idade: "))
if(idade<18):
  print("Menor de idade")
elif(idade>=18)and(idade<60):
  print("Maior de idade")
else:
  print("Você é um idoso")
print("Ponto final")

Digite a nota do aluno: 1
Conceito E - Ruim
Fim do programa
Digite sua idade: 88
Você é um idoso
Ponto final

Comandos de repetição: FOR e WHILE
o Comando FOR é utilizado para quando já sabemos quantas vezes queremos utilizar a repetição ou quando temos uma sequência definida de elementos a serem processados.

In [49]:
numeros=[1,2,3,4,5,6,7,8,9,10]
x=0
for numero in numeros:
  x=(str(x)+str(numero))
print(x)
print(type(x))

numerow=[11,12,13,14,15]
for i in numerow:
  print(i*2, end = ' - ')
  print(i)

numeros=[1,2,3,4,5,6,7,8,9,10]
for numero in numeros:
  print(numero, end = '')
print('\n',type(numero))

frase="Ola, mundo!"
for letra in frase:
  print(letra, end = '')

012345678910
<class 'str'>
22 - 11
24 - 12
26 - 13
28 - 14
30 - 15
12345678910
 <class 'int'>
Ola, mundo!

Vamos utilizar o fatorial:

No Phyton, a função 'range' no 'for' sempre percorre até o último valor menos um.

In [51]:
numero=5
fatorial=1
for i in range(1,numero+1):
  fatorial=fatorial*i
print("O fatorial de", numero, "é:", fatorial)

O fatorial de 5 é: 120

Vamos utilizar o WHILE:

duas formas de fazer um regressão numérica:
1: numero=numero-1
2: numero-=1

Essas duas formas executam exatamente a mesma regressão.

In [59]:
numero=int(input("Digite o numero: "))
while numero>0:
  print(numero)
  numero=numero-1
print("Fim do programa")

numero=int(input("Digite o numero: "))
while numero>0:
  print(numero)
  numero-=1
print("Fim do programa")

Digite o numero: 5
5
4
3
2
1
Fim do programa
Digite o numero: 5
5
4
3
2
1
Fim do programa

Usando uma biblioteca pronta do Phyton.
A bliblioteca em questão é a "random".
Uma das funções dela é trazer um número variável...

In [63]:
import random

numero_secreto= random.randint(1,100)
print(numero_secreto)

palpite=int(input("Digite seu palpite: "))

while(palpite!=numero_secreto):
  if(palpite>numero_secreto):
    print("O numero secreto é menor")
  else:
    print("O numero secreto é maior")
  palpite=int(input("Digite seu palpite: "))
print("Parabens, voce acertou!")

96
Digite seu palpite: 90
O numero secreto é maior
Digite seu palpite: 95
O numero secreto é maior
Digite seu palpite: 96
Parabens, voce acertou!

Procurando um número randômico:

In [65]:
import random

numero_secreto= random.randint(1,100)
adivinhou=False

while not adivinhou:
  palpite=int(input("Digite seu palpite: "))
  if(palpite==numero_secreto):
    print("Parabéns! Você acertou o número")
    adivinhou=True
  elif palpite>numero_secreto:
    print("O número secreto é menor")
  else:
    print("O número secreto é maior")

Digite seu palpite: 50
O número secreto é menor
Digite seu palpite: 25
O número secreto é maior
Digite seu palpite: 37
O número secreto é menor
Digite seu palpite: 31
O número secreto é menor
Digite seu palpite: 28
O número secreto é menor
Digite seu palpite: 26
Parabéns! Você acertou o número

O BREAK é utilizado para interromper a execução de um loop imediatamente, independente da condição que está sendo testada!

In [67]:
numeros=[1,2,3,4,5,6,7,8,9,10]

valor_procurado=7

for numero in numeros:
  print(numero)
  if(numero==valor_procurado):
    print("O valor", valor_procurado, "foi encontrado")
    break
else:
  print("O valor", valor_procurado, "não foi encontrado")
print("Fim do programa")

1
2
3
4
5
6
7
O valor 7 foi encontrado
Fim do programa

Comandos ANINHADOS

Exemplo da TABUADA!

In [68]:
for i in range (1,11):
  print("Tabuada do", i)
  for j in range (1,11):
    resultado=i*j
    print(i, "x", j, "=", resultado)
  print()

Tabuada do 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Tabuada do 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Tabuada do 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Tabuada do 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Tabuada do 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Tabuada do 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Tabuada do 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Tabuada do 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Tabuada do 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Tabuada do 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100