<a href="https://colab.research.google.com/github/raphasariedine/utfpr/blob/main/Sintaxe_basica_em_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Texto gerado com IA. O comando foi simples.

In [ ]:
# prompt: gere um codigo em python com a seguinte saida escrita: Bem vindo (nome da pessoa). Vamos programar em Python!

nome = input("Digite seu nome: ")
print(f"Bem vindo {nome}. Vamos programar em Python!")

Digite seu nome: Raphael
Bem vindo Raphael. Vamos programar em Python!

In [ ]:
nome = "Fulano da Silva"
print("Bem vindo "+nome+". Vamos programar em Python!")

Bem vindo Fulano da Silva. Vamos programar em Python!

Programa resultando o texto escrito de uma aula inicial.

In [ ]:
nome = input("Digite seu nome: ")
print("Bem vindo " + nome + ". Vamos programar em Python!")

Digite seu nome: Raphael
Bem vindo Raphael. Vamos programar em Python!

Outras opcoes...

In [ ]:
nome = input("Informe o seu nome: ")
print("Ola",nome,".")

Informe o seu nome: Raphael
Ola Raphael .

In [ ]:
qtde = float(input("Informe a qtde de soja colhida: "))
area = float(input("Informe a area plantada: "))
produtividade = qtde/area
print(f"A produtividade foi de {produtividade} soja por hectare")

Informe a qtde de soja colhida: 100
Informe a area plantada: 10
A produtividade foi de 10.0 soja por hectare

Programa que faz o calculo do teorema de pitagoras para triangulos de pitagoras, ou seja, triangulos que possuem um angulo de noventa graus.

In [ ]:
#Programa para dar o resultado de pitagoras de dois valores de entrada de um triangulo de pitagoras;
a = float(input("Informe o valor de a: "))
b = float(input("Informe o valor de b: "))
pitagoras = (a**2 + b**2) ** (1/2)
print(f"O valor da hipotenusa é {pitagoras}")

Informe o valor de a: 7
Informe o valor de b: 4
O valor da hipotenusa é 8.06225774829855

Programa para converter variaveis numericas em variaveis do tipo string;

In [ ]:
idade = input("Informe a sua idade: ")
print("A idade é " + idade)
idade_str = str(idade)
print("Tipo de Dado", type(idade_str))

Informe a sua idade: 18
A idade é 18
Tipo de Dado <class 'str'>

Programa para converter variaveis strings em variaveis do tipo inteiro:;

In [ ]:
numero_str = input("Informe um numero: ")
numero_int = int(numero_str)
print("O seu numero e: " + numero_str)
print("Tipo de Dado", type(numero_int))

Informe um numero: 5
O seu numero e: 5
Tipo de Dado <class 'int'>

Programa para converter variaveis strings em variaveis do tipo float;
E no final ainda faz uma multiplicacao basica por um numero float tambem.

In [ ]:
numero_str = input("Informe um numero: ")
print("Tipo de Dado", type(numero_str))
numero_float = float(numero_str)
print("O seu numero e: " + numero_str)
print("Tipo de Dado", type(numero_float))
print(numero_float*1.5)

Informe um numero: 9.5
Tipo de Dado <class 'str'>
O seu numero e: 9.5
Tipo de Dado <class 'float'>
14.25

É um programa básico testando algumas funções do Phyton, como a de identificar caracteres em strings, a de imprimir parte da string ou de mostrar alguns caracteres presentes na string. Tambem temos a de soma de strings, que é também chamda de concatenação.

In [10]:
nome='joaquim'
print("tem a letra 'm' no nome?",("m" in nome))
print("tem a letra 't' no nome?",("t" in nome))
print(nome*3)
print(nome[0:4])
print(nome+nome)

tem a letra 'm' no nome? True
tem a letra 't' no nome? False
joaquimjoaquimjoaquim
joaq
joaquimjoaquim

Aqui treinamento para fazer listas e printar suas posições...

In [22]:
lista=[1,2,3,"credits",3," ","combo"]
print(lista)
[1,2,3,"credits",3," ","combo"]
print(lista[0])
print(lista[1])
print(lista[2])
print(lista[3])
print(lista[4])
print(lista[5])
print(lista[6])

[1, 2, 3, 'credits', 3, ' ', 'combo']
1
2
3
credits
3

combo

Agora o treinamento para adicionar elementos nas listas;
TAMBEM para identificar posições de elementos nas listas;
E POR FIM PARA contar quantos elementos de certo valor existem naquela lista; POR FIM DO FIM também para remover elementos específicos da lista;

In [41]:
lista=[1,2,3,"credits",3," ",3,3,3,3,3,3,3,3,"combo"]
print(lista)
lista.append(4)
print(lista)
lista.append("outro")
print(lista)
print(lista.index("outro"))
print(lista.index(3))
print(lista.count(3))
lista.remove("credits")
print(lista)
lista.reverse()
print(lista)
lista2=[1,2,3,4,5]
lista2.reverse()
print(lista2)
lista2.sort()
print(lista2)
lista2.sort(reverse=True)
print(lista2)
lista.pop()
print(lista)
lista.pop()
print(lista)

[1, 2, 3, 'credits', 3, ' ', 3, 3, 3, 3, 3, 3, 3, 3, 'combo']
[1, 2, 3, 'credits', 3, ' ', 3, 3, 3, 3, 3, 3, 3, 3, 'combo', 4]
[1, 2, 3, 'credits', 3, ' ', 3, 3, 3, 3, 3, 3, 3, 3, 'combo', 4, 'outro']
16
2
10
[1, 2, 3, 3, ' ', 3, 3, 3, 3, 3, 3, 3, 3, 'combo', 4, 'outro']
['outro', 4, 'combo', 3, 3, 3, 3, 3, 3, 3, 3, ' ', 3, 3, 2, 1]
[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
['outro', 4, 'combo', 3, 3, 3, 3, 3, 3, 3, 3, ' ', 3, 3, 2]
['outro', 4, 'combo', 3, 3, 3, 3, 3, 3, 3, 3, ' ', 3, 3]

como trabalhar com dicionários no Phyton... aprender a inserir itens, considerando que os itens são o conjunto de chaves e valores... criar dicionários... excluir itens ... identificar chaves. .. identificar valores ... e identificar os próprios itens.

In [58]:
#vamos supor que estamos buscando aqui adicionar numeros de telefones em uma lista de contatos de pessoas. Como se fosse adicionar numeros de telefones em uma agenda telefonica.
agenda={"mateus":61996969696,"rita":62985848382,"joao":63974737271,"cassio":994234190,"manuela":995593419}
print(agenda)
print(agenda["mateus"])
print(agenda["rita"])
print(agenda["joao"])
print(agenda["cassio"])
print(agenda["manuela"])
agenda["mateus"]=61999999999
print(agenda)
agenda["pablo"]=984919329
print(agenda)
del agenda["rita"]
print(agenda)
agenda.pop("joao")
print(agenda)
print(agenda.keys())
print(agenda.values())
print(agenda.items())

{'mateus': 61996969696, 'rita': 62985848382, 'joao': 63974737271, 'cassio': 994234190, 'manuela': 995593419}
61996969696
62985848382
63974737271
994234190
995593419
{'mateus': 61999999999, 'rita': 62985848382, 'joao': 63974737271, 'cassio': 994234190, 'manuela': 995593419}
{'mateus': 61999999999, 'rita': 62985848382, 'joao': 63974737271, 'cassio': 994234190, 'manuela': 995593419, 'pablo': 984919329}
{'mateus': 61999999999, 'joao': 63974737271, 'cassio': 994234190, 'manuela': 995593419, 'pablo': 984919329}
{'mateus': 61999999999, 'cassio': 994234190, 'manuela': 995593419, 'pablo': 984919329}
dict_keys(['mateus', 'cassio', 'manuela', 'pablo'])
dict_values([61999999999, 994234190, 995593419, 984919329])
dict_items([('mateus', 61999999999), ('cassio', 994234190), ('manuela', 995593419), ('pablo', 984919329)])

Tipples... vamos aprender a fazer tuples ... tuples são listas que não podem ter seus itens excluidos ou adicionados. É uma lista fixa, não mutável. O ideal seria trabalhar para dados que não podem ser modificados.

In [72]:
tuplas=("mateus","rita","joao","cassio","manuela")
print(tuplas)
print(tuplas[0])
print(tuplas[1])
print(tuplas[2])
print(tuplas[3])
print(tuplas[4])
print(tuplas.index("mateus"))
print(tuplas.index("rita"))
print(tuplas.index("joao"))
print(tuplas.index("cassio"))
print(tuplas.index("manuela"))
print(len(tuplas))
print(tuplas+tuplas)
print(tuplas*3)
print("joao" in tuplas)
print("pablo" in tuplas)
lista=["delfin","baleia","tubarao"]
print(lista)
print(tuple(lista))
among=tuple(lista)
print(among)

('mateus', 'rita', 'joao', 'cassio', 'manuela')
mateus
rita
joao
cassio
manuela
0
1
2
3
4
5
('mateus', 'rita', 'joao', 'cassio', 'manuela', 'mateus', 'rita', 'joao', 'cassio', 'manuela')
('mateus', 'rita', 'joao', 'cassio', 'manuela', 'mateus', 'rita', 'joao', 'cassio', 'manuela', 'mateus', 'rita', 'joao', 'cassio', 'manuela')
True
False
['delfin', 'baleia', 'tubarao']
('delfin', 'baleia', 'tubarao')
('delfin', 'baleia', 'tubarao')

utilizando IF e ELSE ... ELIF

In [94]:
number=1
if(number==1):
  print("o numero e 1")
else:
  print("o numero nao e 1")
  if(number==2):
    print("o numero e 2")
  else:
    print("o numero nao e 2")
    if(number==3):
      print("o numero e 3")
nome="tiago"
if("t" in nome):
  print("o nome tem a letra t")
else:
  print("o nome nao tem a letra t")
if("g" not in nome):
    print("o nome nao tem a letra g")
else:
      pass
if("i" in nome):
        print("o nome tem a letra i")
elif("i" in nome):
        print("o nome tem a letra i")
else:
          pass

o numero e 1
o nome tem a letra t
o nome tem a letra i

"FOR" LOOP

In [99]:
for x in range (0,5):
  print("O valor de x é", x)

nome="tiago"
for letra in nome:
  print("A letra é", letra)
lista=["tiago", 19, "programador"]
for item in lista:
  print("O item é", item)

O valor de x é 0
O valor de x é 1
O valor de x é 2
O valor de x é 3
O valor de x é 4
A letra é t
A letra é i
A letra é a
A letra é g
A letra é o
O item é tiago
O item é 19
O item é programador

"WHILE" LOOP

In [104]:
numero=15
while(numero>0):
  print("O numero é", numero)
  numero=numero-1
print("chegou ao fim")
jota=20
while((jota>0)&(numero>-10)):
  print("O numero é", jota)
  jota=jota-1
  numero=numero-1
print("chegou ao fim")

O numero é 15
O numero é 14
O numero é 13
O numero é 12
O numero é 11
O numero é 10
O numero é 9
O numero é 8
O numero é 7
O numero é 6
O numero é 5
O numero é 4
O numero é 3
O numero é 2
O numero é 1
chegou ao fim
O numero é 20
O numero é 19
O numero é 18
O numero é 17
O numero é 16
O numero é 15
O numero é 14
O numero é 13
O numero é 12
O numero é 11
chegou ao fim

PASS, BREAK e CONTINUE...
O BREAK é utilizado tanto em IF ou WHILE, quando queremos sair de ciclos.

In [131]:
numero=20
while True:
  print("O numero é", numero)
  numero=numero-1
  if(numero==2):
    break
print("chegou ao fim")

x=10
while True:
  x=x-1
  if(x==5):
    continue
  print("O valor de x é", x)
  if(x==0):
    break
print("chegou ao fim")
y=10
while True:
  print("O valor de y é", y)
  y=y-1
  if(y==7):
    while((y>=2)&(y<=7)):
      y=y-1
  if(y==0):
    break
print("chegou ao fim")
for y in range (0,10):
  continue
  print("O valor de y é", y)
for x in range (0,5):
  pass
  print("O valor de x é", x)

O numero é 20
O numero é 19
O numero é 18
O numero é 17
O numero é 16
O numero é 15
O numero é 14
O numero é 13
O numero é 12
O numero é 11
O numero é 10
O numero é 9
O numero é 8
O numero é 7
O numero é 6
O numero é 5
O numero é 4
O numero é 3
chegou ao fim
O valor de x é 9
O valor de x é 8
O valor de x é 7
O valor de x é 6
O valor de x é 4
O valor de x é 3
O valor de x é 2
O valor de x é 1
O valor de x é 0
chegou ao fim
O valor de y é 10
O valor de y é 9
O valor de y é 8
O valor de y é 1
chegou ao fim
O valor de x é 0
O valor de x é 1
O valor de x é 2
O valor de x é 3
O valor de x é 4